IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[cabs_copy_global_extras]') AND [type]='P'))
DROP PROCEDURE [dbo].[cabs_copy_global_extras]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 3rd June 2016
-- Description:	Copies Global Extras for a date range from one MBR to another
-- =============================================
CREATE PROCEDURE [dbo].[cabs_copy_global_extras] 
	-- Add the parameters for the stored procedure here
	@OldMBR Varchar(10) = '', 
	@NewMBR Varchar(10) = '',
	@startDate Datetime = '1900-01-01',
	@endDate DAtetime = '2050-01-01',
	@DayDiff int,
	@DOWFixed Bit = 0,
	@OperatorId VARCHAR(31),
	@IncludeCancelled BIT,
	@ClassCodes VARCHAR(MAX),
	@GlobalExtrasCopied INT OUT,
	@Merging BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @AI_PRIKEY VArchar(10)
	Declare @newAIPRIKEY VArchar(10)
	Declare @AI_GEDATE datetime

	IF @Merging = 1
	BEGIN
		INSERT INTO #MBR_COPIER_MERGE_OUTPUT
		SELECT @NewMBR,
			MBR_CLIENT,
			MBR_CONTCT,
			@ClassCodes,
			MBR_EVENT,
			'',
			CONVERT(VARCHAR(10), AI_GEDATE, 103),
			'',
			AI_TIME,
			AI_ENDTIME,
			AI_COVERS,
			AI_PRIKEY,
			ISNULL(P_DESC, 'Undefined')
		FROM AI_FILE
		LEFT JOIN MBRFILE
		ON MBR_SYSNO = AI_FREF
		LEFT JOIN POST_DEF
		ON P_CODE = AI_CODE
		WHERE AI_FREF = @NewMBR
			AND dbo.uf_ShouldCopyBlockingOrGlobalExtraOrPackage(AI_STARTDATETIME, AI_ENDDATETIME, @IncludeCancelled, AI_STARTDATETIME, AI_ENDDATETIME, AI_COVERS) = 1
	END

	DECLARE @OldDay int
	DECLARE @NewDate Datetime

    -- Insert statements for procedure here
	declare ExtrasCur Cursor fast_forward for SELECT AI_Prikey, AI_GEDATE
	FROM [dbo].[AI_FILE] 
	where AI_FREF = @OldMBR
		AND dbo.uf_ShouldCopyBlockingOrGlobalExtraOrPackage(@startDate, @endDate, @IncludeCancelled, AI_STARTDATETIME, AI_ENDDATETIME, AI_COVERS) = 1
	open ExtrasCur
	Fetch Next from ExtrasCur into  @AI_PRIKEY, @AI_GEDATE
	While @@FETCH_STATUS = 0 begin
		SET @NewDate = DATEADD(DD, @DayDiff, @AI_GEDATE)

		if @DOWFixed = 1 begin
			set @OldDay = Datepart(weekday, @AI_GEDATE)
			set @NewDate = dbo.uf_getNextMatchingDate(@NewDate,@OldDay)
		end

		exec usp_cabs_copy_Extra @AI_Prikey, @NewMBR, @NewDate, @newAIPRIKEY OUTPUT, @OperatorId

		UPDATE AI_FILE
		SET AI_STARTDATETIME = DATEADD(HOUR, DATEPART(HOUR, AI_TIME), DATEADD(MINUTE, DATEPART(MINUTE, AI_TIME), @NewDate)),
			AI_ENDDATETIME = DATEADD(HOUR, DATEPART(HOUR, AI_ENDTIME), DATEADD(MINUTE, DATEPART(MINUTE, AI_ENDTIME), @NewDate))
		WHERE AI_PRIKEY = @newAIPRIKEY

		INSERT INTO #MBR_COPIER_OUTPUT
		SELECT @NewMBR,
			MBR_CLIENT,
			MBR_CONTCT,
			@ClassCodes,
			MBR_EVENT,
			'',
			CONVERT(VARCHAR(10), @NewDate, 103),
			'',
			AI_TIME,
			AI_ENDTIME,
			AI_COVERS,
			@newAIPRIKEY,
			ISNULL(P_DESC, 'Undefined') + ' - GE - ' + ISNULL(AI_CODE, 'AI_CODE IS NULL')
		FROM AI_FILE
		INNER JOIN MBRFILE
		ON MBR_SYSNO = @NewMBR
		LEFT JOIN POST_DEF
		ON P_CODE = AI_CODE
		WHERE AI_PRIKEY = @newAIPRIKEY

		SET @GlobalExtrasCopied += 1

		Fetch Next from ExtrasCur into  @AI_PRIKEY, @AI_GEDATE

	end

	close ExtrasCur
	deallocate ExtrasCur

	--SELECT @p1, @p2
END


GO