IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[cabs_copy_MBR]') AND [type]='P'))
DROP PROCEDURE [dbo].[cabs_copy_MBR]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 3rd June 2016
-- Description:	Copies an MBR and if required its functions to either a new MBR or an existing one
-- Changes:		PLG 17/10/2016 changed to work on datediff not start date
--				PLG 08/02/2017 changed MBR Copy to have new MBr in impkey to prevent duplicates
--			    PLG 21/03/2017 added copy class codes (temporarily with always set to 1)  Needs to be set as parameter later
--				PLG 31/03/2017 amended to only copy MBs that have bookings
-- =============================================
CREATE PROCEDURE [dbo].[cabs_copy_MBR] 
	-- Add the parameters for the stored procedure here
	@OldMBR Varchar(10) = '', 
	@NewMBR Varchar(10) = '' OUTPUT,
	@CopyFunctions Bit = 0,
	@CopyRestaurants Bit = 0,
	@CopyAccomodation Bit = 0,
	@DOWFixed Bit = 0,
	@startDate Datetime = '1900-01-01',
	@endDate DAtetime = '2050-01-01',
	@NewStatus Varchar(10),
	-- PLG 17/10/2016  @NewStartDate datetime, 
	@DatediffString Varchar(30),  -- PLG 17/10/2016  this is expected in form Y:xx;Mxx;Wxx;Dxxx;
								  -- PLG 31/03/2017 amended from varchar(20) to (30)
	@F_STatus Varchar(10),
	@CopyRBtoExtra bit =0, --PLG 3/11/2016 extra parameter to decide whether to copy Restaurant and Bedroom bookings to global extras
	@OperatorId VARCHAR(31),
	@IncludeCancelled BIT,
	--@ClassCodesTable INT,
	@GlobalExtrasCopied INT OUT,
	@FunctionsCopied INT OUT,
	@RestaurantsCopied INT OUT,
	@AccommodationCopied INT OUT,
	@PackagesCopied INT OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from

	-- Amended on 25/08/2016 by ME and PLG
	-- Scrapped cabs_create_mbr, now directly inserting to MBRFILE, selecting old MBR and changing multiple fields to fit new MBR.

	DECLARE @RC int
	DECLARE @mbr_company varchar(50)
	DECLARE @mbr_addr1 varchar(40)
	DECLARE @mbr_addr2 varchar(40)
	DECLARE @mbr_addr3 varchar(40)
	DECLARE @mbr_addr4 varchar(40)
	DECLARE @mbr_pcode varchar(15)
	DECLARE @mbr_phax1 varchar(50)
	DECLARE @mbr_phax2 varchar(50)
	DECLARE @mbr_email varchar(100)
	DECLARE @mbr_internal smallint
	DECLARE @mbr_status varchar(6)
	DECLARE @mbr_sysno varchar(7)
	DECLARE @result int
	DECLARE @NewStartDate datetime  --17/10/2016 PLG
	Declare @OldMbrStartDate datetime
	Declare @YearDiff int
	Declare @MonthDiff int
	Declare @WeekDiff int
	Declare @DayDiff int
	--Declare @CopyCount int
	Declare @CopyClassCodes int 
	Set @CopyClassCodes = 1
	DECLARE @Merging BIT = 0
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here

	set @YearDiff = dbo.uf_getYearOffset(@DatediffString)
	set @MonthDiff = dbo.uf_getMonthOffset(@DatediffString)
	set @WeekDiff = dbo.uf_getWeekOffset(@DatediffString)
	set @DayDiff = dbo.uf_getDayOffset(@DatediffString)

	if exists(Select MBR_CMPNAM from MBRFILE where MBR_SYSNO = @OldMBR) begin   --1
		-- we have a valid MBR		now check it has something to copy
		if dbo.uf_MBRHasBookings(@OldMBR, @startDate, @endDate, @IncludeCancelled) = 1 begin --2
			-- the MBR has bookings
			set @OldMbrStartDate = (Select MBR_From from MBRFILE where MBR_SYSNO = @OldMBR)
			set @NewStartDate = DATEADD(DD,@DayDiff, @OldMBRStartDate)
			set @NewStartDate = DATEADD(WW,@WeekDiff, @NewStartDate)
			set @NewStartDate = DATEADD(MM,@MonthDiff, @NewStartDate)
			set @NewStartDate = DATEADD(YY,@YearDiff, @NewStartDate)

			-- now we reset day to incoporate all elements (it will have sorted leap year etc)
			set @DayDiff = DATEDIFF(dd,@OldMbrStartDate, @NewStartDate)

			if @NewMBR = '' begin --3
				--SELECT @mbr_company = MBR_CMPNAM, @mbr_addr1 =MBR_ADDR1,@mbr_addr2 =MBR_ADDR2, 
				--@mbr_addr3= MBR_ADDR3 ,@mbr_addr4 = MBR_ADDR4,@mbr_pcode =MBR_PCODE,@mbr_phax1=MBR_PHAX1,
				--@mbr_phax2 =MBR_PHAX2,@mbr_email =MBR_EMAIL, @mbr_internal =MBR_INTERN,@mbr_status =MBR_STATUS
				--From MBRFILE where MBR_SYSNO = @OldMBR

				--EXECUTE @RC = [dbo].[cabs_create_mbr] 
			 --  @mbr_company,@mbr_addr1,@mbr_addr2
			 -- ,@mbr_addr3,@mbr_addr4,@mbr_pcode,@mbr_phax1
			 -- ,@mbr_phax2,@mbr_email,@mbr_internal,@mbr_status
			 -- ,@mbr_sysno OUTPUT, @result OUTPUT
			 -- SET @NewMBR = @mbr_sysno

				exec cabs_get_next_mbr_num @mbr_sysno OUTPUT
				set @NewMBR = @mbr_sysno
			
				INSERT INTO [dbo].[MBRFILE]   ([MBR_SYSNO],[MBR_CMPNAM],[MBR_EVENT],[MBR_SALUT],[MBR_ADDR1],[MBR_ADDR2],[MBR_ADDR3],[MBR_ADDR4]
			   ,[MBR_ADDR5],[MBR_PCODE],[MBR_PHAX1],[MBR_PHAX2],[MBR_MKTSEG],[MBR_ENTRY],[MBR_STATUS],[MBR_LETTER],[MBR_CHASE1],[MBR_WHY]
			   ,[MBR_DEPREQ],[MBR_DEPDUE],[MBR_DEPPER],[MBR_AGENT],[MBR_CBMNGR],[MBR_CONTCT],[MBR_BL_COMP],[MBR_BL_NAM],[MBR_BL_TTL]
			   ,[MBR_BL_AD1],[MBR_BL_AD2],[MBR_BL_AD3],[MBR_BL_AD4],[MBR_BL_AD5],[MBR_BL_PST],[MBR_REVNUE],[MBR_ADINFO],[MBR_INV_NO]
			   ,[MBR_INTERN],[MBR_PORDER],[MBR_APPROX],[MBR_FRANGE],[MBR_SERV],[MBR_SEM],[MBR_CBACK],[MBR_CLIENT],[MBR_CLASS]
			   ,[MBR_CREDIT],[MBR_EMAIL],[MBR_CEMAIL],[MBR_FROM],[MBR_TO],[MBR_CONTNO],[MBR_VALUE],[MBR_IMPKEY],[MBR_CONSENT]
			   ,[MBR_UPP_CMPNAM],[MBR_UPP_ADDR1],[MBR_AGENTNO],[MBR_CONTCT_OLD])
				SELECT @mbr_sysno,[MBR_CMPNAM],[MBR_EVENT],[MBR_SALUT],[MBR_ADDR1],[MBR_ADDR2],[MBR_ADDR3],[MBR_ADDR4]
			   ,[MBR_ADDR5],[MBR_PCODE],[MBR_PHAX1],[MBR_PHAX2],[MBR_MKTSEG],[MBR_ENTRY],[MBR_STATUS],[MBR_LETTER],[MBR_CHASE1],[MBR_WHY]
			   ,[MBR_DEPREQ],[MBR_DEPDUE],[MBR_DEPPER],[MBR_AGENT],[MBR_CBMNGR],[MBR_CONTCT],[MBR_BL_COMP],[MBR_BL_NAM],[MBR_BL_TTL]
			   ,[MBR_BL_AD1],[MBR_BL_AD2],[MBR_BL_AD3],[MBR_BL_AD4],[MBR_BL_AD5],[MBR_BL_PST],[MBR_REVNUE],'Created from ' + @OldMBR + ' via CABS Enhanced MBR Copier on ' + CONVERT(varchar(10), GETDATE(), 103) + ' by ' + @OperatorId,[MBR_INV_NO]
			   ,[MBR_INTERN],[MBR_PORDER],[MBR_APPROX],[MBR_FRANGE],[MBR_SERV],[MBR_SEM],[MBR_CBACK],[MBR_CLIENT],[MBR_CLASS]
			   ,[MBR_CREDIT],[MBR_EMAIL],[MBR_CEMAIL],@NewStartDate,DATEADD(dd,DATEDIFF(dd,MBR_FROM,MBR_TO),@NewStartDate),[MBR_CONTNO],[MBR_VALUE],@NewMBR,[MBR_CONSENT]
			   ,[MBR_UPP_CMPNAM],[MBR_UPP_ADDR1],[MBR_AGENTNO],[MBR_CONTCT_OLD] from MBRFILE where MBR_SYSNO = @OldMBR
			   -- plg amended 08/02/2017 changed impkey from MBR_IMPKEY to @NewMBR

			end --3 
			ELSE BEGIN
				SET @Merging = 1
			END
			if isnull(@NewMBR,'') <> '' begin  --3b
				IF OBJECT_ID('tempdb..#MBR_COPIER_OUTPUT') IS NOT NULL
				DROP TABLE #MBR_COPIER_OUTPUT

				CREATE TABLE #MBR_COPIER_OUTPUT
				(
					MBR_PRIKEY VARCHAR(7) COLLATE SQL_Latin1_General_CP1_CI_AS,
					CL_SYSNO VARCHAR(7) COLLATE SQL_Latin1_General_CP1_CI_AS,
					MBR_CONTCT VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS,
					CLASS_CODES VARCHAR(MAX) COLLATE SQL_Latin1_General_CP1_CI_AS,
					MBR_EVENT VARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS,
					F_REF VARCHAR(7) COLLATE SQL_Latin1_General_CP1_CI_AS,
					[DATE] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					ROOM VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
					[START] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					[END] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					COVERS VARCHAR(13) COLLATE SQL_Latin1_General_CP1_CI_AS,
					AI_PRIKEY VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					EXTRA_DESC VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
				)

				IF OBJECT_ID('tempdb..#MBR_COPIER_MERGE_OUTPUT') IS NOT NULL
				DROP TABLE #MBR_COPIER_MERGE_OUTPUT

				CREATE TABLE #MBR_COPIER_MERGE_OUTPUT
				(
					MBR_PRIKEY VARCHAR(7) COLLATE SQL_Latin1_General_CP1_CI_AS,
					CL_SYSNO VARCHAR(7) COLLATE SQL_Latin1_General_CP1_CI_AS,
					MBR_CONTCT VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS,
					CLASS_CODES VARCHAR(MAX) COLLATE SQL_Latin1_General_CP1_CI_AS,
					MBR_EVENT VARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS,
					F_REF VARCHAR(7) COLLATE SQL_Latin1_General_CP1_CI_AS,
					[DATE] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					ROOM VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
					[START] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					[END] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					COVERS VARCHAR(13) COLLATE SQL_Latin1_General_CP1_CI_AS,
					AI_PRIKEY VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS,
					EXTRA_DESC VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
				)

				-- This defaults to 0 if there's no setting in xCABS_CONFIG_TABLE
				DECLARE @ClassCodesTable INT = (SELECT dbo.uf_xCABS_CONFIG_ReadString('', 'EnhancedMBRCopier', 'ClassCodesTable'))

				DECLARE @ClassCodes TABLE (CT_DESC VARCHAR(50))
				INSERT @ClassCodes
				EXEC usp_GetSelectedClassCodes @OldMBR, @ClassCodesTable

				DECLARE @ClassCodesStr VARCHAR(MAX) = (SELECT STUFF((SELECT ', ' + CT_DESC FROM @ClassCodes FOR XML PATH('')), 1, 2, ''))

				INSERT INTO #MBR_COPIER_OUTPUT
				SELECT MBR_SYSNO,
					MBR_CLIENT,
					MBR_CONTCT,
					@ClassCodesStr,
					MBR_EVENT,
					'',
					'',
					'',
					'',
					'',
					'',
					'',
					'From ' + @OldMBR
				FROM MBRFILE
				WHERE MBR_SYSNO = @NewMBR

				SET @GlobalExtrasCopied = 0
				SET @FunctionsCopied = 0
				SET @RestaurantsCopied = 0
				SET @AccommodationCopied = 0
				SET @PackagesCopied = 0

				-- we either created a new one or it was passed in
				exec cabs_copy_global_extras @OldMBR, @NewMBR, @startDate, @endDate, @DayDiff, @DOWFixed, @OperatorId, @IncludeCancelled, @ClassCodesStr, @GlobalExtrasCopied OUT, @Merging

				EXEC usp_cabs_copy_packages @OldMBR, @NewMBR, @startDate, @endDate, @DayDiff, @DOWFixed, @OperatorId, @IncludeCancelled, @ClassCodesStr, @PackagesCopied OUT, @Merging

				-- now call copy function
				if @CopyFunctions = 1 begin  --4b
					print 'copying functions'
					exec usp_Cabs_copy_functions @OldMBR, @NewMBR, @startDate, @endDate, @DayDiff, @DOWFixed, @F_Status, @OperatorId, @IncludeCancelled, @ClassCodesStr, @FunctionsCopied OUT, @PackagesCopied OUT, @Merging
				end -- 4b
				if @CopyAccomodation = 1 begin --4c
					print 'copying accomodation'
					exec usp_Cabs_copy_blockings @OldMbr, @NewMBR, @startDate, @endDate, @DayDiff, @DOWFixed, @CopyRBToExtra, @OperatorId, @IncludeCancelled, @ClassCodesStr, @AccommodationCopied OUT, @Merging
				end --4c
				if @CopyRestaurants = 1 begin --4d
					print 'copying restaurants'
					exec usp_Cabs_Copy_Restaurants @OldMbr, @NewMBR, @startDate, @endDate, @DayDiff, @DOWFixed, @F_Status, @CopyRBToExtra, @OperatorId, @IncludeCancelled, @ClassCodesStr, @RestaurantsCopied OUT, @Merging
				end --4d
				if @CopyClassCodes = 1 begin --4e
					exec usp_CopyMBRClassCodes  @OldMbr, @NewMBR
				end --4e

				INSERT INTO #MBR_COPIER_OUTPUT
				SELECT MBR_SYSNO,
					MBR_CLIENT,
					MBR_CONTCT,
					@ClassCodesStr,
					MBR_EVENT,
					'',
					'',
					'',
					CONVERT(VARCHAR(10), MBR_FROM, 103),
					CONVERT(VARCHAR(10), MBR_TO, 103),
					'',
					'',
					''
				FROM MBRFILE
				WHERE MBR_SYSNO = @NewMBR

				SELECT *
				FROM #MBR_COPIER_OUTPUT

				UNION ALL

				SELECT *
				FROM #MBR_COPIER_MERGE_OUTPUT
				
				DROP TABLE #MBR_COPIER_OUTPUT
				DROP TABLE #MBR_COPIER_MERGE_OUTPUT
			end --3b
			else begin --3c
				print 'No success'
			end --3c
		end --2
		else begin --2b
			print 'MBR has no bookings'
		end --2b
	end --1
	else begin  --1b
		print 'MBR Does not exist'
	end --1b
END


GO