-- =============================================
-- Author: Mark Birch
-- Script Name: cabs_check_accom_av_ge.sql
-- Create date: 28-APR-2016
-- Description:	AV Check For Global Extras (Blockings)
-- =============================================
-- Usage : Run through SQL Query Analyser
-- Error Handling : None Expected
-- =============================================
-- Version: 1
-- Date: dd/mm/yyyy
-- =============================================
-- Changes: dd/mm/yyyy: XXX: 
-- =============================================
if exists (select * from dbo.sysobjects where id = object_id(N'[cabs_check_accom_av_ge]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
	DROP PROCEDURE [cabs_check_accom_av_ge]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

	CREATE PROCEDURE [cabs_check_accom_av_ge]( @from_date datetime, @to_date datetime, @room_type varchar(6), @covers int, @result int OUTPUT )
	AS

	BEGIN

	declare @av_date datetime
	declare @tot_covers int
	declare @tot_rooms int

	select @to_date = @to_date - 1

	select @result = 1

	select @tot_rooms = (select  ST_IN_USE FROM SYS_ABBR WHERE ST_CODE = @room_type)

	if @covers > @tot_rooms
	  select @result =0 
	else
	  begin
		DECLARE check_av_cursor CURSOR FOR
		  SELECT S_DATE, SUM(S_SOFT + S_HARD + @covers + S_OFF) AS TOTAL_COVERS
			FROM SUM_RES
			  WHERE S_DATE >= @from_date AND 
							  S_DATE <= @to_date AND
							  S_TYPE = @room_type
		  GROUP BY S_DATE


		open check_av_cursor

		fetch next from check_av_cursor into @av_date, @tot_covers

		while @@FETCH_STATUS = 0
		begin
			--select @av_date, @tot_rooms, @tot_covers

		   if @tot_covers > @tot_rooms
		   begin
			 select @result =0
			 BREAK
		   end

		   fetch next from check_av_cursor into @av_date, @tot_covers 
		end

		close check_av_cursor
		deallocate check_av_cursor
		
		Return @Result
	end

	END
GO


