if exists (select * from dbo.sysobjects where id = object_id(N'[cabs_create_blocking_ge]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
	DROP PROCEDURE [cabs_create_blocking_ge]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[cabs_create_blocking_ge]( @block_from datetime,
						@block_to datetime, 
						@block_rtype varchar(6), 
						@block_mbrno varchar(7), 
						@block_soft int, 
						@block_hard int, 
						@block_charge float, 
						@block_id varchar(7) OUTPUT, 
						@result int OUTPUT )
-- =============================================
-- Author: Mark Birch
-- Script Name: cabs_create_blocking_ge.sql
-- Create date: 28-APR-2016
-- Description:	Create Blocking for Global Extras (Accommodation)
-- =============================================
-- Usage : Run through SQL Query Analyser
-- Error Handling : None Expected
-- =============================================
-- Version: 1
-- Date: dd/mm/yyyy
-- =============================================
-- Changes: dd/mm/yyyy: XXX: 
-- =============================================

AS
BEGIN

  select @result = 0

  exec cabs_get_next_blocking_num @block_id OUTPUT  /* Get new blocking number */

  if datalength( @block_id ) = 7 and @@error = 0
   select @result = 1
  
  If @block_charge = 0
    select @block_charge = (select RR_PAX_1 from R_RATES where RR_TYPE = @block_rtype)

  if @result = 1
    --INSERT INTO BLOCKING_GE
	INSERT INTO BLOCKING
      (BL_SYSNO, BL_DATE, BL_TO, BL_RTYPE, BL_MBR, BL_SOFT, BL_HARD, 
       BL_CHARGE, BL_VATCODE, BL_POSTED, BL_ARRTIME, BL_CREDIT, BL_CHARGEBK)
    VALUES
      (@block_id, @block_from, @block_to, @block_rtype, @block_mbrno, @block_soft, @block_hard,
       @block_charge, 2, NULL, '00:00', '','')


  if @@error = 0
    select @result = 1
  else
    select @result = 0
END
GO






