IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[uf_GetWeekOffset]') AND ([type]='IF' OR [type]='FN' OR [type]='TF')))
DROP FUNCTION [dbo].[uf_GetWeekOffset]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 17/10/2016
-- Description:	returns part of a string for date manipulation
-- =============================================
CREATE FUNCTION [dbo].[uf_GetWeekOffset] 
(
	-- Add the parameters for the function here
	@Datestring Varchar(30)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result int
	Declare @PortionStart int
	Declare @PortionEnd int

	-- Add the T-SQL statements to compute the return value here
	set @PortionStart = CHARINDEX('W:',@Datestring,1)
	if @PortionStart < 1 begin
		SET @Result = 0
	end
	else begin
		set @PortionEnd = CHARINDEX(';',@Datestring,@PortionStart+2)
		if @PortionEnd > @PortionStart begin
			set @Result = CAST(SUBSTRING(@Datestring,@PortionStart+2,(@PortionEnd-(@PortionStart+2))) as Int) 
		end
	end

	-- Return the result of the function
	RETURN @Result

END

GO