IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[uf_getFunctionLocation]') AND ([type]='IF' OR [type]='FN' OR [type]='TF')))
DROP FUNCTION [dbo].[uf_getFunctionLocation]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

-- ===============
-- Author:		peter.green
-- Create date: 7th Feb 2012 & Mar  2 2016 10:43AM
-- Description:	Autogen - Version 1.1  Generated Mar  2 2016 10:43AM
-- ====================
CREATE FUNCTION [dbo].[uf_getFunctionLocation] (
@FREF Varchar(10)
)
RETURNS  Varchar(10)
AS BEGIN 	-- Declare the return variable here
	DECLARE @Result Varchar(10)

	-- Add the T-SQL statements to compute the return value here
	SET @Result = isnull((Select RM_LOC from Rooms where RM_ABBR = (Select F_Room from Func_fil where F_Ref = @FREF)),'NONE')

	-- Return the result of the function
	RETURN @Result


END


GO