IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[uf_GetNextMatchingDate]') AND ([type]='IF' OR [type]='FN' OR [type]='TF')))
DROP FUNCTION [dbo].[uf_GetNextMatchingDate]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 6th June 2016
-- Description:	Returns the next date that matches a day of week
-- =============================================
CREATE FUNCTION [dbo].[uf_GetNextMatchingDate] 
(
	-- Add the parameters for the function here
	@Date datetime,
	@DoW int
)
RETURNS Datetime
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result Datetime
	DECLARE @ThisDow int
	-- Add the T-SQL statements to compute the return value here
	SET @ThisDow = DATEPART(dw,@Date)
	if @DOW >= @ThisDOW begin
		-- need to move forward by difference
		set @Result = DATEADD(dd,(@DOW-@ThisDow),@Date)
	end
	else begin
		set @Result = DATEADD(dd,(@DOW+7-@ThisDoW),@Date)
	end

--	SELECT @Result

	-- Return the result of the function
	RETURN @Result

END


GO