IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[usp_cabs_copy_restaurants]') AND [type]='P'))
DROP PROCEDURE [dbo].[usp_cabs_copy_restaurants]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 6th June 2016
-- Description:	Copy all Functions in a date range from one MBR to Another
-- Changes:		PLG 17/10/2016 changed to work on datediff not start date
--				PLG 3/11/2016 implemented copy booking to extras
--				PLG 08/02/2017 changed F_Booker to be @newmbr
--				PLG 03/03/2017 changed mapping to use xCABS CONFIG TABLE
--				PLG 31/03/2017 changed mappings to use Room and Room status
-- =============================================
CREATE PROCEDURE [dbo].[usp_cabs_copy_restaurants] 
	-- Add the parameters for the stored procedure here
	@OldMBR Varchar(10), 
	@NewMBR Varchar(10), 
	@startDate datetime, 
	@endDate datetime, 
	-- PLG 17/10/2016  @NewStartDate datetime, 
	@Datediff Int,  -- PLG 17/10/2016
	@DOWFixed bit,
	@F_Status Varchar(10),
	@CopyRBtoExtra bit = 0, --PLG 3/11/2016 extra parameter to decide whether to copy Restaurant and Bedroom bookings to global extras
	@OperatorId VARCHAR(31),
	@IncludeCancelled BIT,
	@ClassCodes VARCHAR(MAX),
	@RestaurantsCopied INT OUT,
	@Merging BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @Merging = 1
	BEGIN
		INSERT INTO #MBR_COPIER_MERGE_OUTPUT
		SELECT MBR_SYSNO,
			MBR_CLIENT,
			MBR_CONTCT,
			@ClassCodes,
			MBR_EVENT,
			F_REF,
			CONVERT(VARCHAR(10), F_DAY, 103),
			ST_DESC,
			F_START,
			F_END,
			F_PAX_ACT,
			'',
			''
		FROM FUNC_FIL
		LEFT JOIN MBRFILE
		ON MBR_SYSNO = F_MBR_NO
		LEFT JOIN SYS_ABBR
		ON ST_CODE = F_USE
		WHERE F_MBR_NO = @NewMBR
			AND dbo.uf_ShouldCopyFunctionOrRestaurant(F_STARTDATETIME, F_ENDDATETIME, @IncludeCancelled, 0, F_STARTDATETIME, F_ENDDATETIME, F_REST, F_STATUS) = 1
	END

	-- Amended on 25/08/2016 by ME and PLG
	-- Added @MBRStart and @MBREnd to ensure restaurants are within MBR from and to.
	Declare @FRef Varchar(10)
--	Declare @Datediff Int
	Declare @FunctionDate Datetime
	Declare @ThisDateDiff Int
	Declare @newFunctionDAte Datetime
	Declare @OldDay int
	DECLARE @RC int
	DECLARE @num_type int
	DECLARE @cabs_type varchar(1)
	DECLARE @the_number int
	DECLARE @result varchar(10)
	DECLARE @NewF_REF Varchar(10)
	-- DECLARE @num_type char(1)
	DECLARE @AI_PRIKEY Varchar(10)
	DECLARE @newAIPRIKEY Varchar(10)
	DECLARE @MBRStart datetime
	DECLARE @MBREnd datetime
	Declare @Loc Varchar(10)
	Declare @code Varchar(10)
	Declare @StartTime Varchar(5)
	Declare @Extra_Covers money
	Declare @extra_notes VARCHAR(200)
	Declare @extra_endtime VArchar(5)
	Declare @extra_charge money
	Declare @extra_loc Varchar(6)
	Declare @extra_credit Varchar(50)
	Declare @extra_debit Varchar(50)
	Declare @RestRoom Varchar(10)
	Declare @RestUse Varchar(10) 
  
    -- Insert statements for procedure here
	-- PLG 17/10/2016    Set @Datediff = DATEDIFF(dd,@startDate, @NewStartDate)
	select @MBrStart = MBR_FROM, @MBrEnd = MBR_TO from MBRFILE where MBR_SYSNO = @NewMBR
	Declare RestCur Cursor Fast_Forward for select F_REF, F_STARTDATETIME, F_ROOM, F_USE from FUNC_FIL
		where F_MBR_NO = @OldMBR
			AND dbo.uf_ShouldCopyFunctionOrRestaurant(@startDate, @endDate, @IncludeCancelled, 0, F_STARTDATETIME, F_ENDDATETIME, F_REST, F_STATUS) = 1
	open RestCur
	Fetch NExt from RestCur into @FRef, @FunctionDate, @RestRoom, @RestUse
	While @@FETCH_STATUS = 0 begin
		-- check new date
		set @newFunctionDAte = DATEADD(dd,@Datediff,@FunctionDAte)
		if @DOWFixed = 1 begin
			set @OldDay = DATEPART(dw,@FunctionDAte)
			set @NewFunctionDate = dbo.uf_GetNextMatchingDate(@newFunctionDAte,@OldDay)
			set @ThisDateDiff = DATEDIFF(dd,@Functiondate,@NewFunctionDate)
		end

		if @CopyRBtoExtra = 1 begin
			set @Loc = (select dbo.uf_getFunctionLocation(@FRef))
			set @startTime = (Select F_Start from Func_fil where F_REF =@FREF);
			
			--WITH Config_CTE
			--as
			--(
			--	Select *,
			--		Substring([Key],1,Patindex('%~%',[Key])-1) as Loc,
			--		Substring([Key],Patindex('%~%',[Key])+1,5) as StartTime,
			--		Substring([Key],Patindex('%~%',[Key])+7,5) as EndTime
			--	from xCABS_CONFIG_TABLE
			--	where Section = 'EnhancedMBRCopierMapping'
			--		and [Key] like (@Loc +'~%') --or [Key] like 'Other~%')
			--)
			--	-- we have only selected the records for this location
			-- replaced with
			With Config_CTE
			as
			( Select [Value], Substring([Key],1,Patindex('%~%',[Key])-1) as Room,
				Substring([Key],Patindex('%~%',[Key])+1,10) as RoomUse
				from xCABS_CONFIG_TABLE
				where Section = 'EnhancedMBRCopierMapping'
				and [Key] like (@RestRoom + '~%') and [Key] like ('%~' + @RestUse)
				and [Deleted] <> 1
			)

			--Select Top 1 @Code = isnull(Value,'')
			--from Config_CTE
			--where @Loc = Loc
			--	and @StartTime >= StartTime
			--	and @StartTime <=EndTime

			Select Top 1 @Code = isnull(Value,'')
			from Config_CTE
			where @RestRoom = Room and RoomUse = @RestUse

			if @Code = ''
				--WITH Config_CTE
				--as
				--(
				--	Select *,
				--		Substring([Key],1,Patindex('%~%',[Key])-1) as Loc,
				--		Substring([Key],Patindex('%~%',[Key])+1,5) as StartTime,
				--		Substring([Key],Patindex('%~%',[Key])+7,5) as EndTime
				--	from xCABS_CONFIG_TABLE
				--	where Section = 'EnhancedMBRCopierMapping'
				--		and ([Key] like 'Other~%')
				--)
				WITH Config_CTE
				as
				(Select [Value], Substring([Key],1,Patindex('%~%',[Key])-1) as Room,
					Substring([Key],Patindex('%~%',[Key])+1,10) as RoomUse
					from xCABS_CONFIG_TABLE
					where Section = 'EnhancedMBRCopierMapping'
					and [Key] like 'Other~%'
				)

				--Select Top 1 @Code = isnull(Value,'')
				--from Config_CTE
				--where Loc = 'OTHER'
				--	and @StartTime >= StartTime
				--	and @StartTime <=EndTime

				Select Top 1 @Code = isnull(Value,'')
				from Config_CTE
				where Room = 'OTHER'
					and RoomUse = 'OTHER'

			-- the following code is very specific and needs changing
			If @Code = '' begin -- use defaults
				set @Code = (select case @Loc When 'MAIN' then 
							Case When (@StartTime < '09:59')  then 'ACBR' 
								 when (@StartTime < '11:59') then 'ACAC'
								 when (@StartTime < '14:29') then 'ACCLU'
								 when (@StartTime < '17:59') then 'ACAFC'
								 else 'ACDR' end
						When 'EHOUSE' then 
							Case When (@StartTime < '09:59')  then 'ACBR' 
								 when (@StartTime < '11:59') then 'ACEAC'
								 when (@StartTime < '14:29') then 'ACEHL'
								 when (@StartTime < '17:59') then 'ACEACE'
								 else 'ACDR' end
						else
							Case When (@StartTime < '09:59')  then 'ACACB' 
								 when (@StartTime < '11:59') then 'ACAC'
								 when (@StartTime < '14:29') then 'ACAL'
								 when (@StartTime < '17:59') then 'ACAFC'
								 else 'ACCD' end
						end)
			End
			-- Now create the extra
			Select @extra_covers = F_PAX_ACT ,@extra_notes = F_COMMENT, @extra_endtime = F_END,
				@extra_charge = F_RM_CHG, @extra_credit = F_CREDIT, @extra_debit = F_CBACK
			  From Func_FIL where F_REF = @FRef

			EXECUTE @RC = [dbo].[cabs_add_global_extra] @Newmbr, '', @newFunctionDAte, @Starttime,
					@extra_covers, @extra_notes, @OperatorId, @code, @extra_endtime, @extra_charge,
					@loc, @extra_credit, @extra_debit, 'N'

			set @newAIPRIKEY = REPLACE(STR(@RC, 10), ' ', '0')

			INSERT INTO #MBR_COPIER_OUTPUT
			SELECT MBR_SYSNO,
				MBR_CLIENT,
				MBR_CONTCT,
				@ClassCodes,
				MBR_EVENT,
				'',
				CONVERT(VARCHAR(10), AI_GEDATE, 103),
				'',
				AI_TIME,
				AI_ENDTIME,
				AI_COVERS,
				AI_PRIKEY,
				ISNULL(P_DESC, 'Undefined')
			FROM AI_FILE
			INNER JOIN MBRFILE
			ON MBR_SYSNO = @NewMBR
			LEFT JOIN POST_DEF
			ON P_CODE = AI_CODE
			WHERE AI_PRIKEY = @newAIPRIKEY
		end
		else begin
		-- generate a new function ref
			Set @num_type = 1
			EXECUTE @RC = [dbo].[cabs_get_next_num]   @num_type
		
			SET @the_number = @RC
			SET @cabs_type = 'F'
			EXECUTE @RC = [dbo].[cabs_format_system_no] @cabs_type,@the_number,@result OUTPUT
			Set @NewF_REF = @Result
		
			INSERT INTO [dbo].[FUNC_FIL] ([F_REF],[F_ROOM],[F_RM_CHG],[F_START],[F_END],[F_USE]
			   ,[F_STATUS],[F_MBR_NO],[F_PAX_GTD],[F_PAX_ACT],[F_PAX_MIN],[F_OPID],[F_OWNER]
			   ,[F_VATCODE],[F_POSTED],[F_SITDOWN],[F_PKG],[F_ACT],[F_DATESTMP],[F_COMMENT]
			   ,[F_CBACK],[F_TICKET],[F_FORECAST],[F_INPROG],[F_FINISHED],[F_MATTER],[F_CREDIT]
			   ,[F_SETUP],[F_BDOWN],[F_INTERN],[F_MBR_NAME],[F_LOCKED],[F_SESSNO],[F_OFFRM]
			   ,[F_CUT],[F_SOLEUSE],[F_REST],[F_DAY],[F_BOOKER],[F_CANPOST],[F_RMGIVEN],[F_COMMENT2]
			   ,[F_COLOUR],[F_STARTDATETIME],[F_ENDDATETIME],[F_CREATEDATE],[F_CLIENTFUNC]
			   ,[F_OLDFREF],[F_TYPE],[F_OFF])
			 Select @NewF_REF, F_ROOM, F_RM_CHG, F_START, F_END, F_USE, @F_STATUS, @NewMBR, 
			   F_PAX_GTD, F_PAX_ACT, F_PAX_MIN, @OperatorId, F_OWNER, F_VATCODE, F_POSTED, F_SITDOWN, F_PKG, 
			   F_ACT, GETDATE(), F_COMMENT, F_CBACK, F_TICKET, F_FORECAST, F_INPROG, 0, F_MATTER, F_CREDIT, F_SETUP, 
			   F_BDOWN, F_INTERN, dbo.uf_GetMBRName(@NewMBR, F_INTERN), 0, F_SESSNO, F_OFFRM, F_CUT, F_SOLEUSE, 
			   F_REST, @NewFunctionDate, @NewMBR, 'NO', F_RMGIVEN, F_COMMENT2, F_COLOUR, @NewFunctionDate,
			   DATEADD(dd,@ThisDateDiff, F_ENDDATETIME),GETDATE(),F_CLIENTFUNC, F_OLDFREF, F_TYPE, F_OFF 
			   From FUNC_FIL where F_REF =@FREF and isnull(F_REST,'No') = 'Yes'

			INSERT INTO #MBR_COPIER_OUTPUT
			SELECT MBR_SYSNO,
				MBR_CLIENT,
				MBR_CONTCT,
				@ClassCodes,
				MBR_EVENT,
				F_REF,
				CONVERT(VARCHAR(10), F_DAY, 103),
				ST_DESC,
				F_START,
				F_END,
				F_PAX_ACT,
				'',
				''
			FROM FUNC_FIL
			LEFT JOIN MBRFILE
			ON MBR_SYSNO = F_MBR_NO
			LEFT JOIN SYS_ABBR
			ON ST_CODE = F_USE
			WHERE F_REF = @NewF_REF

			-- Copy extras
			Declare ExtraCur cursor fast_forward for Select AI_PRIKEY from AI_FILE where AI_FREF = @FREF
			open ExtraCur
			FETCH NEXT from ExtraCur into @AI_PRIKEY
			While @@FETCH_STATUS = 0 begin
				Exec usp_cabs_copy_Extra @AI_PRIKEY, @NewF_REF, @NewFunctionDAte, @newAIPRIKEY OUTPUT, @OperatorId
				FETCH NEXT from ExtraCur into @AI_PRIKEY

				INSERT INTO #MBR_COPIER_OUTPUT
				SELECT MBR_SYSNO,
					MBR_CLIENT,
					MBR_CONTCT,
					@ClassCodes,
					MBR_EVENT,
					'',
					CONVERT(VARCHAR(10), F_DAY, 103),
					ST_DESC,
					AI_TIME,
					AI_ENDTIME,
					AI_COVERS,
					AI_PRIKEY,
					P_DESC
				FROM AI_FILE
				LEFT JOIN FUNC_FIL
				ON F_REF = AI_FREF
				LEFT JOIN MBRFILE
				ON MBR_SYSNO = F_MBR_NO
				LEFT JOIN POST_DEF
				ON P_CODE = AI_CODE
				LEFT JOIN SYS_ABBR
				ON ST_CODE = F_USE
				WHERE AI_PRIKEY = @newAIPRIKEY
			end
			close ExtraCur
			deallocate ExtraCur
			-- copy packages
			-- copy menus
			-- copy drink trolleys
			-- copy accomodation
		end	
		if @NewFunctionDate < @MBRStart begin
			Update MBRFILE
			set MBR_FROM = @NewFunctionDate
			where MBR_SYSNO = @NewMBR

			Set @MBRStart = @NewFunctionDate
		end
		if @NewFunctionDate > @MBREnd begin
			Update MBRFILE
			set MBR_TO = @NewFunctionDate
			where MBR_SYSNO = @NewMBR

			Set @MBREnd = @NewFunctionDate
		end

		SET @RestaurantsCopied += 1

		Fetch NExt from RestCur into @FRef, @FunctionDate, @RestRoom, @RestUse
	end
	close RestCur
	Deallocate RestCur

--	SELECT @p1, @p2
END


GO