IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[usp_cabs_copy_functions]') AND [type]='P'))
DROP PROCEDURE [dbo].[usp_cabs_copy_functions]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 6th June 2016
-- Description:	Copy all Functions in a date range from one MBR to Another
-- Changes:		PLG 17/10/2016 changed to work on datediff not start date
--				PLG 08/07/2017 changed to not duplicate MBR_impkey so changed f_Booker 
-- =============================================
CREATE PROCEDURE [dbo].[usp_cabs_copy_functions] 
	-- Add the parameters for the stored procedure here
	@OldMBR Varchar(10), 
	@NewMBR Varchar(10), 
	@startDate datetime, 
	@endDate datetime, 
	-- PLG 17/10/2016  @NewStartDate datetime, 
	@Datediff Int,  -- PLG 17/10/2016
	@DOWFixed bit,
	@F_Status Varchar(10),
	@OperatorId VARCHAR(31),
	@IncludeCancelled BIT,
	@ClassCodes VARCHAR(MAX),
	@FunctionsCopied INT OUT,
	@PackagesCopied INT OUT,
	@Merging BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Amended on 25/08/2016 by ME and PLG
	-- Added @MBRStart and @MBREnd to ensure functions are within MBR from and to.
	Declare @FRef Varchar(10)
--	Declare @Datediff Int
	Declare @FunctionDate Datetime
	Declare @ThisDateDiff Int
	Declare @newFunctionDAte Datetime
	Declare @OldDay int
	DECLARE @RC int
	DECLARE @num_type int
	DECLARE @cabs_type varchar(1)
	DECLARE @the_number int
	DECLARE @result varchar(10)
	DECLARE @NewF_REF Varchar(10)
	-- DECLARE @num_type char(1)
	DECLARE @AI_PRIKEY Varchar(10)
	DECLARE @NewPRIKEY Varchar(10)
	DECLARE @MBRStart datetime
	DECLARE @MBREnd datetime

	IF @Merging = 1
	BEGIN
		INSERT INTO #MBR_COPIER_MERGE_OUTPUT
		SELECT MBR_SYSNO,
			MBR_CLIENT,
			MBR_CONTCT,
			@ClassCodes,
			MBR_EVENT,
			F_REF,
			CONVERT(VARCHAR(10), F_DAY, 103),
			RM_NAME,
			F_START,
			F_END,
			'',
			'',
			''
		FROM FUNC_FIL
		LEFT JOIN MBRFILE
		ON MBR_SYSNO = F_MBR_NO
		LEFT JOIN ROOMS
		ON RM_ABBR = F_ROOM
		WHERE F_MBR_NO = @NewMBR
			AND dbo.uf_ShouldCopyFunctionOrRestaurant(F_STARTDATETIME, F_ENDDATETIME, @IncludeCancelled, 1, F_STARTDATETIME, F_ENDDATETIME, F_REST, F_STATUS) = 1

		/*DECLARE @FuncMergeCurs CURSOR
		SET @FuncMergeCurs = CURSOR FAST_FORWARD FOR
			SELECT F_REF
			FROM FUNC_FIL
			WHERE F_MBR_NO = @NewMBR
				AND dbo.uf_ShouldCopyFunctionOrRestaurant(F_STARTDATETIME, F_ENDDATETIME, @IncludeCancelled, 1, F_STARTDATETIME, F_ENDDATETIME, F_REST, F_STATUS) = 1

		OPEN @FuncMergeCurs

		WHILE 1 = 1
		BEGIN
			FETCH NEXT FROM @FuncMergeCurs INTO @FRef
			IF @@FETCH_STATUS <> 0 BREAK

			DECLARE @FuncExtraMergeCurs CURSOR
			SET @FuncExtraMergeCurs = CURSOR FAST_FORWARD FOR
				SELECT AI_PRIKEY
				FROM AI_FILE
				WHERE AI_FREF = @FRef
					AND (@IncludeCancelled = 1 OR (@IncludeCancelled = 0 AND AI_COVERS > 0)) -- Should probably be using uf_ShouldCopyBlockingOrGlobalExtraOrPackage

			INSERT INTO #MBR_COPIER_MERGE_OUTPUT
			SELECT MBR_SYSNO,
				MBR_CLIENT,
				MBR_CONTCT,
				@ClassCodes,
				MBR_EVENT,
				F_REF,
				CONVERT(VARCHAR(10), F_DAY, 103),
				RM_NAME,
				F_START,
				F_END,
				'',
				'',
				''
			FROM FUNC_FIL
			LEFT JOIN MBRFILE
			ON MBR_SYSNO = F_MBR_NO
			LEFT JOIN ROOMS
			ON RM_ABBR = F_ROOM
			WHERE F_REF = @FRef

			OPEN @FuncExtraMergeCurs

			WHILE 1 = 1
			BEGIN
				FETCH NEXT FROM @FuncExtraMergeCurs INTO @AI_PRIKEY
				IF @@FETCH_STATUS <> 0 BREAK

				INSERT INTO #MBR_COPIER_MERGE_OUTPUT
				SELECT MBR_SYSNO,
					MBR_CLIENT,
					MBR_CONTCT,
					@ClassCodes,
					MBR_EVENT,
					'',
					CONVERT(VARCHAR(10), F_DAY, 103),
					RM_NAME,
					AI_TIME,
					AI_ENDTIME,
					AI_COVERS,
					AI_PRIKEY,
					ISNULL(P_DESC, 'Undefined')
				FROM AI_FILE
				LEFT JOIN FUNC_FIL
				ON F_REF = AI_FREF
				LEFT JOIN MBRFILE
				ON MBR_SYSNO = F_MBR_NO
				LEFT JOIN POST_DEF
				ON P_CODE = AI_CODE
				LEFT JOIN ROOMS
				ON RM_ABBR = F_ROOM
				WHERE AI_PRIKEY = @AI_PRIKEY
			END
		END*/
	END

    -- Insert statements for procedure here
	-- PLG 17/10/2016    Set @Datediff = DATEDIFF(dd,@startDate, @NewStartDate)
	select @MBrStart = MBR_FROM, @MBrEnd = MBR_TO from MBRFILE where MBR_SYSNO = @NewMBR
	Declare FuncCur Cursor Fast_Forward for select F_REF, F_STARTDATETIME from FUNC_FIL
		where F_MBR_NO =  @OldMBR
			AND dbo.uf_ShouldCopyFunctionOrRestaurant(@startDate, @endDate, @IncludeCancelled, 1, F_STARTDATETIME, F_ENDDATETIME, F_REST, F_STATUS) = 1
	open FuncCur
	Fetch NExt from FuncCur into @FRef, @FunctionDate
	While @@FETCH_STATUS = 0 begin
		-- check new date
		set @newFunctionDAte = DATEADD(dd,@Datediff,@FunctionDAte)
		if @DOWFixed = 1 begin
			set @OldDay = DATEPART(dw,@FunctionDAte)
			set @NewFunctionDate = dbo.uf_GetNextMatchingDate(@newFunctionDAte,@OldDay)
			set @ThisDateDiff = DATEDIFF(dd,@Functiondate,@NewFunctionDate)
		end
		-- generate a new function ref
		Set @num_type = 1
		EXECUTE @RC = [dbo].[cabs_get_next_num]   @num_type
		
		SET @the_number = @RC
		SET @cabs_type = 'F'
		EXECUTE @RC = [dbo].[cabs_format_system_no] @cabs_type,@the_number,@result OUTPUT
		Set @NewF_REF = @Result
		
		INSERT INTO [dbo].[FUNC_FIL] ([F_REF],[F_ROOM],[F_RM_CHG],[F_START],[F_END],[F_USE],[F_STATUS],[F_MBR_NO]
		   ,[F_PAX_GTD],[F_PAX_ACT],[F_PAX_MIN],[F_OPID],[F_OWNER],[F_VATCODE],[F_POSTED],[F_SITDOWN],[F_PKG]
		   ,[F_ACT],[F_DATESTMP],[F_COMMENT],[F_CBACK],[F_TICKET],[F_FORECAST],[F_INPROG],[F_FINISHED],[F_MATTER],[F_CREDIT],[F_SETUP]
		   ,[F_BDOWN],[F_INTERN],[F_MBR_NAME],[F_LOCKED],[F_SESSNO],[F_OFFRM],[F_CUT],[F_SOLEUSE]
		   ,[F_REST],[F_DAY],[F_BOOKER],[F_CANPOST],[F_RMGIVEN],[F_COMMENT2],[F_COLOUR],[F_STARTDATETIME]
		   ,[F_ENDDATETIME],[F_CREATEDATE],[F_CLIENTFUNC],[F_OLDFREF],[F_TYPE],[F_OFF])

	     Select @NewF_REF, F_ROOM, F_RM_CHG, F_START, F_END, F_USE, @F_STATUS, @NewMBR, 
           F_PAX_GTD, F_PAX_ACT, F_PAX_MIN, @OperatorId, F_OWNER, F_VATCODE, F_POSTED, F_SITDOWN, F_PKG, 
           F_ACT, GETDATE(), F_COMMENT, F_CBACK, F_TICKET, F_FORECAST, F_INPROG, 0, F_MATTER, F_CREDIT, F_SETUP, 
           F_BDOWN, F_INTERN, dbo.uf_GetMBRName(@NewMBR, F_INTERN), 0, F_SESSNO, F_OFFRM, F_CUT, F_SOLEUSE, 
           F_REST, @NewFunctionDate, @NewMBR, 'NO', F_RMGIVEN, F_COMMENT2, F_COLOUR, @NewFunctionDate,
		   DATEADD(dd,@ThisDateDiff, F_ENDDATETIME),GETDATE(),F_CLIENTFUNC, F_OLDFREF, F_TYPE, F_OFF 
		   From FUNC_FIL where F_REF =@FREF
		   
		EXEC usp_cabs_copy_packages @FRef, @NewF_REF, @startDate, @endDate, @Datediff, @DOWFixed, @OperatorId, @IncludeCancelled, ClassCodes, @PackagesCopied OUT, @Merging

		INSERT INTO #MBR_COPIER_OUTPUT
		SELECT MBR_SYSNO,
			MBR_CLIENT,
			MBR_CONTCT,
			@ClassCodes,
			MBR_EVENT,
			F_REF,
			CONVERT(VARCHAR(10), F_DAY, 103),
			RM_NAME,
			F_START,
			F_END,
			'',
			'',
			''
		FROM FUNC_FIL
		LEFT JOIN MBRFILE
		ON MBR_SYSNO = F_MBR_NO
		LEFT JOIN ROOMS
		ON RM_ABBR = F_ROOM
		WHERE F_REF = @NewF_REF

		SET @FunctionsCopied += 1

		-- Copy extras
		Declare ExtraCur cursor fast_forward for Select AI_PRIKEY from AI_FILE where AI_FREF = @FREF
			AND (@IncludeCancelled = 1 OR (@IncludeCancelled = 0 AND AI_COVERS > 0))
		open ExtraCur
		FETCH NEXT from ExtraCur into @AI_PRIKEY
		While @@FETCH_STATUS = 0 begin
			Exec usp_cabs_copy_Extra @AI_PRIKEY, @NewF_REF, @NewFunctionDAte, @newPrikey OUTPUT, @OperatorId
			FETCH NEXT from ExtraCur into @AI_PRIKEY

			INSERT INTO #MBR_COPIER_OUTPUT
			SELECT MBR_SYSNO,
				MBR_CLIENT,
				MBR_CONTCT,
				@ClassCodes,
				MBR_EVENT,
				'',
				CONVERT(VARCHAR(10), F_DAY, 103),
				RM_NAME,
				AI_TIME,
				AI_ENDTIME,
				AI_COVERS,
				AI_PRIKEY,
				ISNULL(P_DESC, 'Undefined')
			FROM AI_FILE
			LEFT JOIN FUNC_FIL
			ON F_REF = AI_FREF
			LEFT JOIN MBRFILE
			ON MBR_SYSNO = F_MBR_NO
			LEFT JOIN POST_DEF
			ON P_CODE = AI_CODE
			LEFT JOIN ROOMS
			ON RM_ABBR = F_ROOM
			WHERE AI_PRIKEY = @NewPRIKEY
		end
		close ExtraCur
		deallocate ExtraCur

		-- copy packages
		-- copy menus
		-- copy drink trolleys
		-- copy accomodation
		if @NewFunctionDate < @MBRStart begin
			Update MBRFILE
			set MBR_FROM = @NewFunctionDate
			where MBR_SYSNO = @NewMBR

			Set @MBRStart = @NewFunctionDate
		end
		if @NewFunctionDate > @MBREnd begin
			Update MBRFILE
			set MBR_TO = @NewFunctionDate
			where MBR_SYSNO = @NewMBR

			Set @MBREnd = @NewFunctionDate
		end
		Fetch NExt from FuncCur into @FRef, @FunctionDate
	end
	close FuncCur
	Deallocate FuncCur

--	SELECT @p1, @p2
END


GO