-- *****************************************************************************
-- WHEN UPDATING THIS FILE DO NOT FORGET TO UPDATE THE VERSION NUMBER IN BOTH 
-- THE FILE HEADER AND THE EXTENDED PROPERTIES SETION AT THE BOTTOM OF THIS FILE
-- *****************************************************************************

DECLARE @FileName VARCHAR(100)
DECLARE @Func_Name VARCHAR(100)
SET @FileName = 'uf_GetEmailSendTime'
SET @Func_Name = 'uf_GetEmailSendTime'
IF EXISTS (SELECT name FROM sys.objects WHERE name = 'uf_GetEmailSendTime')
BEGIN
	DROP FUNCTION [dbo].[uf_GetEmailSendTime]
	PRINT @FileName + ': Dropped Function ' + @Func_Name
END
ELSE
BEGIN
	PRINT @FileName + ': ' + @Func_Name + ' -  Does Not Already Exist !'
END
PRINT @FileName + ': Creating Function ' + @Func_Name
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Peter Green
-- Create date: 27th Jan 2015
-- Description:	Calculates the date and time an email should be sent based on the Email Type and the Function Ref
-- =============================================
-- Version: 9
-- Date: 17/01/2017
-- =============================================
-- Changes: 20/02/2015: PLG: Added Day handling
-- Changes: 20/02/2015: MCB: Added Weekend handling
-- Changes: 24/02/2015: MCB: Changed L handling
-- Changes: 09/09/2015: MCB: Added a check for @SetDay so if it's 0 do not remove any days from SendDate 
--							 ERROR: Adding a value to a 'datetime' column caused an overflow.
-- Changes: 18/09/2015: PLG: Added bank holiday handling
-- Changes: 16/10/2015: MCB: Added a check for delayed sending today (NW: Now)
-- Changes: 15/06/2016: TT : Adde new TimeType RE (Recurring Emails)
-- Changes: 20/06/2016: TT : Added mechanism to set the SendDateTime for recurring emails 
--							 based on X CABS Config Setting 
-- Changes: 25/07/2016: TT : Added Date Time format 20 to conversion to take into account DB setting
-- Changes: 08/09/2016: TT : Added new Time Type AE for After Event
-- Changes: 17/01/2017: TT : Corrected an issue when the Frequency setting includes an S
-- (9)
-- =============================================
CREATE FUNCTION [dbo].[uf_GetEmailSendTime] 
(
	-- Add the parameters for the function here
	@EmailType Varchar(7),
	@FRef Varchar(7)
)
RETURNS datetime
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result datetime
	DECLARE @TimeType varchar(5) -- this is whether it should be B4 event time or after change time
	Declare @Mins int
	DECLARE @Frequency Varchar(1000)
	DECLARE @SP_TRG Varchar(1000)
	Declare @Days   int
	Declare @Hours  int
	Declare @WeekendsInc int
	
	Declare @StrLen int
	Declare @Pos    int
	Declare @SubStr    varchar(255)
	Declare @SubStrLen int
	Declare @VCString Varchar(255)
	Declare @SetDay int

	Declare @StartDate DateTime 

	-- Added - TT - 20/06/2016
	DECLARE @DebugFlag AS INT
	SET @DebugFlag = COALESCE((SELECT [dbo].[fnGet_Config_Value] ('S', '', 'CABS_AUTO_EMAIL_FUNCS', 'DebugFlag')), '0')  -- Added by TT - 20/06/2016
	-- End of Additions - TT - 20/06/2016

	set @SP_TRG = @EmailType
	-- Set the defaults
	
	SET @Frequency = 'D:2;H:0;M:0;W:0;S:0;L:B4;'
	-- D indicates the number of days
	-- H           the number of hours
	-- M                         minutes
	-- W    if 0 means Weekends are ignored 
	--      if 1 means weekends are included
	-- S is for a set day,  0 means none any other is the day of the week
	-- T is for a set time on the set day in format 0930
	-- L is in response to the event date 
	--			B4 means calculate from event date backwards
	--			CR means calculate from the Creation Time
	--			NW means calculate from the Now
	--			RE means recurring
	--			AE means calculate from event date forwards
	

	Set @Mins = 48*60  -- i.e 2 days
	SET @TimeType = 'B4'
	Set @WeekendsInc = 0 -- default is only working days
	-- get the config settings
	IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE [DELETED] = 0 AND [TYPE] = 'S' AND SECTION = @SP_TRG AND [KEY] = 'Frequency') > 0
		BEGIN
			SET @Frequency = (SELECT [VALUE] FROM xCABS_CONFIG_TABLE WHERE [DELETED] = 0 AND [TYPE] = 'S' AND SECTION = @SP_TRG AND [KEY] = 'Frequency')
		END

	-- Add the T-SQL statements to compute the return value here
	 -- Ensure there is a semi-colon at the end of the string
	If SUBSTRING( @Frequency, Len(@Frequency), 1) <> ';'
		set @Frequency = @Frequency + ';'

	set @StrLen = LEN( @Frequency )    -- how long is it
	-- Does the input string have a Weekend element
	set @Pos = PATINDEX( '%W%', @Frequency )
	If @Pos > 0
    begin
      -- Get the substring from before the W
      set @VCString = SUBSTRING(@Frequency, 1,@Pos -1) 
	  set @WeekendsInc = Cast(SUBSTRING(@Frequency,@Pos+2,1) as int)
	end
	else begin -- send the whole string 
       set @VCString = @Frequency
    end
	-- now call the old function to convert this to minutes
	set @Mins = (SELECT dbo.fn_GetMinsValue(@vcString)  )

	
	-- find the L Type

	set @Pos = PATINDEX( '%L%', @Frequency )
	IF @Pos > 0 begin
		SET @TimeType = SUBSTRING( @Frequency, @Pos +2, (@StrLen-@Pos-2) )
	END	
	
	--MCB Commented Out: 24/02/15
	----set @Pos = PATINDEX( '%L%', @Frequency )
	----IF @Pos > 0 begin
	----	set @SubStr = SUBSTRING( @vcString, @Pos +2, (@StrLen-@Pos-1) ) 
	----	-- now check there's nothing else
	----	set @Pos    = PATINDEX( '%;%', @SubStr )
	----	-- set @SubStrLen = LEN( @SubStr )
	----	if @pos > 0 begin
	----		Set @TimeType = SUBSTRING(@SubStr,1,@Pos-1)
	----	end
	----	else begin
	----		Set @TimeType = @SubStr
	----	end
	----END

	If @TimeType = 'B4' begin
		-- do what's needed
		set @StartDate = (SELECT F_StartDAtetime from FUNC_FIL where F_REF = @FRef)
		set @Result = DATEADD(MINUTE,-@Mins,@StartDate)
		--if @WeekendsInc = 0 begin
		--	-- construct aloop to bring forward by a day until it is not a saturday or Sunday
		--	if DATEPART(WEEKDAY,@Result) = 1 begin -- i.e. Sunday
		--		set @Result = dateadd(d,-1,@result)
		--	End 
		--	if DATEPART(WEEKDAY,@Result) = 7 begin -- i.e. Saturday
		--		set @Result = dateadd(d,-1,@result)
		--	End 
		--end
	end	
	else
	--MCB: Added 14/10/2015
	If @TimeType = 'CR' begin
		-- do what's needed for instant sends
		set @StartDate = (SELECT F_CREATEDATE from FUNC_FIL where F_REF = @FRef)
		set @result = DATEADD(MINUTE,@Mins,@StartDate)
	end
	else
	--MCB: Added 14/10/2015
	If @TimeType = 'NW' begin 
		-- do what's needed for send from NOW
		set @StartDate = GETDATE()
		set @result = DATEADD(MINUTE, @Mins,@StartDate)
	end
	ELSE	
	-- Added After Event Section - TT - 08/09/2016
	IF @TimeType = 'AE' BEGIN
		DECLARE @EndtDate DATETIME	
		SET @EndtDate = (SELECT F_ENDDATETIME from FUNC_FIL where F_REF = @FRef)
		-- Adds days, hours and minutes (in minutes) determined from the config 
		-- to the EndDate of the Event
		SET @result = DATEADD(MINUTE,@Mins,@EndtDate)
	END
	/* 
		Changes - TT - 15/06/2016 
		Supposed to be used for Recurring Emails
	*/
	ELSE
	IF @TimeType = 'RE'
	BEGIN
		-- Get the day on which the emails are supposed to be sent from X CABS CONFIG
		SET @pos = PATINDEX( '%S%', @Frequency )
		IF @pos > 0 
		BEGIN
			-- Get the day (Sunday = 1, ... Saturday = 7		
			SET @SetDay = Cast (SUBSTRING(@Frequency,@pos+2,1) AS INT)
			
			-- Declare variables required
			DECLARE @EmailSendDateTime DATETIME,		
					@NewEmailSendDateTime DATETIME

			-- Get the Email Send Date and Time from teh AEFLINK View
			-- This is used by CABS_AUTO_EMAIL_FUNCS_SESS_CHECK to determine emails to be sent
			SET @EmailSendDateTime = (SELECT AEFL_SendTime FROM AEF_Link WHERE AEFL_FREF = @FRef AND AEFL_EMailType = @EmailType)

			-- If the date is in the past ....
			IF (DATEDIFF(DAY, @EmailSendDateTime, GETDATE()) > 0) --Send Date in past
			BEGIN
				-- Get the date of the next day the email shoudl be sent	
				SET @Result = (SELECT DATEADD(dd,(7 - DATEPART(dw,GETDATE()) + @SetDay ) % 7, GETDATE()))

				-- Get the time on which the emails are supposed to be sent from X CABS CONFIG
				SET @pos = PATINDEX( '%T%', @Frequency )
				If @pos > 0
				BEGIN
					DECLARE @SetTime VARCHAR(6)
					DECLARE @Dev INT = 0
					SET @SetTime = SUBSTRING(@Frequency,@pos+2,4) -- In format HHMM
					-- Construct the date and time the next email should be sent (based on X CABS CONFIG Settings - S and T in Frequency key
					-- This will update the AEFL_SendTime field in vw_AEFLINK
					-- Added DATE TIME Format 20 to account for DB Date Tim Setting - TT - 25/07/2016
					-- SET @Result = CONVERT(DATETIME, SUBSTRING(CONVERT(VARCHAR,@Result,20),1,10) + ' '  + SUBSTRING(@SetTime, 1, 2) +':' + SUBSTRING(@SetTime, 3, 2) +':' +'00')					
					SET @Result = CONVERT(DATETIME, SUBSTRING(CONVERT(VARCHAR,@Result,20),1,10) + ' '  + SUBSTRING(@SetTime, 1, 2) +':' + SUBSTRING(@SetTime, 3, 2) +':' +'00',20)
					-- Added Debug functionlaity to assist testing - TT - 20/06/2016
					If @DebugFlag = 1
					BEGIN
						DECLARE @DebugSendDateTime VARCHAR(30)
						SET @DebugSendDateTime = COALESCE((SELECT [dbo].[fnGet_Config_Value] ('S', '', @EmailType, 'DebugSendDateTime')), '')  -- Added by TT - 20/06/2016
						IF @DebugSendDateTime <> ''
							SET @Result = CONVERT(DATETIME, @DebugSendDateTime)
					END
					-- End of Added Debug functionlaity to assist testing - TT - 20/06/2016
				END
			END
		END
	END
	else begin
		-- do what's needed for instant sends
		set @StartDate = (SELECT F_CREATEDATE from FUNC_FIL where F_REF = @FRef)
		set @result = DATEADD(MINUTE,@Mins,@StartDate)
	end
	

	set @pos = PATINDEX( '%S%', @Frequency )
	if @pos > 0 and @TimeType <> 'RE' begin -- Added @TimeType Condition - TT - 16/06/2016
		-- Moved line to ensure that @SetDay is set before checking value - TT - 17/01/2017
		Set @SetDay = Cast (SUBSTRING(@Frequency,@pos+2,1) as Int)
		if @SetDay <> 0 begin
			-- Set @SetDay = Cast (SUBSTRING(@Frequency,@pos+2,1) as Int) - Code in wrng place - TT - 17/01/2017
			While DATEPART(WEEKDAY,@Result) <> @setday begin -- keep taking a day earlier until we get to the right date
				set @Result = dateadd(d,-1,@result) 
			end
		end
	end

	-- Added code to enable emails to be sent at a fixed time - TT - 17/01/2017
	set @pos = PATINDEX( '%T%', @Frequency )
	if @pos > 0 and @TimeType <> 'RE' begin -- Added @TimeType Condition - TT - 16/06/2016		
		SET @SetTime = SUBSTRING(@Frequency,@pos+2,4)
		
		DECLARE @HH VARCHAR(2)
		DECLARE @SS VARCHAR(2)
		
		SET @HH = SUBSTRING(@SetTime, 1, 2)
		SET @SS = SUBSTRING(@SetTime, 3, 2)

		SET @Result = DateAdd(hh,- (DatePart(hh,@Result))+CONVERT(INT, @HH), @Result) 
		SET @Result = DateAdd(mi,- (DatePart(mi,@Result))+CONVERT(INT, @SS), @Result) 
		SET @Result = DateAdd(ss,- (DatePart(ss,@Result)), @Result) 
		SET @Result = DateAdd(ms,- (DatePart(ms,@Result)), @Result) 		
	end
	-- End of Changes - TT - 17/01/2017

	if @WeekendsInc = 0 begin
		-- new check for bank holidays added 
		while dbo.uf_IsDateABankHoliday(@result) = 1 begin
			set @Result = dateadd(d,-1,@result) 
		end
		-- construct aloop to bring forward by a day until it is not a saturday or Sunday
		if DATEPART(WEEKDAY,@Result) = 1 begin -- i.e. Sunday
			set @Result = dateadd(d,-1,@result)
		End 
		if DATEPART(WEEKDAY,@Result) = 7 begin -- i.e. Saturday
			set @Result = dateadd(d,-1,@result)
		End 
		-- new check for bank holidays added 
		-- it's in twice to catch Mondays and Fridays !!
		while dbo.uf_IsDateABankHoliday(@result) = 1 begin
			set @Result = dateadd(d,-1,@result) 
		end
	end
	-- new check for bank holidays added 
	-- Added IF to ensure that days are not taken of send time for After Event emails - TT - 08/09/2016
	IF @TimeType <> 'AE'
	BEGIN
		while dbo.uf_IsDateABankHoliday(@result) = 1 begin		
				set @Result = dateadd(d,-1,@result) 		
		end
	END
	-- End of Additions - TT - 08/09/2016
	--check to see if we have a date in the past and if so make it now
	IF @TimeType <> 'RE' -- TT
	BEGIN
		if DATEDIFF(minute,@result,getdate()) > 0 set @result = getdate()
		if ((DATEDIFF(minute,@startdate,getdate())) > 0 AND (@timetype ='B4')) set @result = getdate()
	END
		
	-- Return the result of the function
	RETURN @Result
END
GO

PRINT '*****************************************************************************'								   
PRINT 'uf_GetEmailSendTime: Creating Extended Properties'

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_GetEmailSendTime]
							   ,@name = N'Product' 
							   ,@value = N'CABS'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_GetEmailSendTime') AND [name] = 'Product')
BEGIN		
	PRINT 'uf_GetEmailSendTime: Product Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_GetEmailSendTime: Product Extended Property Not Created Successfully !'
END	

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_GetEmailSendTime]
							   ,@name = N'Module' 
							   ,@value = N'AutoEmail'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_GetEmailSendTime') AND [name] = 'Module')
BEGIN		
	PRINT 'uf_GetEmailSendTime: Module Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_GetEmailSendTime: Module Extended Property Not Created Successfully !'
END			

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_GetEmailSendTime]
							   ,@name = N'Version' 
							   ,@value = N'9.0'
								   
IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_GetEmailSendTime') AND [name] = 'Version')
BEGIN		
	PRINT 'uf_GetEmailSendTime: Version Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_GetEmailSendTime: Version Extended Propety Not Created Successfully !'
END
							   
PRINT '*****************************************************************************'								   
GO