-- *****************************************************************************
-- WHEN UPDATING THIS FILE DO NOT FORGET TO UPDATE THE VERSION NUMBER IN BOTH 
-- THE FILE HEADER AND THE EXTENDED PROPERTIES SETION AT THE BOTTOM OF THIS FILE
-- *****************************************************************************

if exists (select * from sys.objects where object_id = object_id(N'[trAutoEmail_Extras]') and OBJECTPROPERTY(object_id, N'IsTrigger') = 1)
BEGIN
	DROP TRIGGER [trAutoEmail_Extras]
	PRINT 'trAutoEmail_Extras: Dropped Trigger trAutoEmail_Extras on AI_FILE'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Extras: Trigger trAutoEmail_Extras on AI_FILE Does Not Exist !'
END
PRINT 'trAutoEmail_Extras: Creating Trigger trAutoEmail_Extras on AI_FILE'
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Mark Birch
-- Create date: 23-DEC-2014
-- Description:	Trigger to handle Auto Email Requests for Bookings
-- =============================================
-- Version: 10
-- Date: 23/03/2017
-- =============================================
-- Changes: 13/02/2015: MCB: Added Department Handling
-- Changes: 05/03/2015: MCB: Changed @DeptDecideCode to VARCHAR(10) 
-- Changes: 06/03/2015: PLG: Added IsNull around SELECT TOP 1 Status 
-- Changes: 12/03/2015: MCB: Added Amendment handling 
-- Changes: 13/03/2015: MCB: Changed @Source VARCHAR(20); @Department VARCHAR(MAX)
-- Changes: 08/04/2015: MCB: Amended ae_DEL_AEF_Amendments call to latest version
-- Changes: 13/04/2015: MCB: Changed ae_DEL_AEF_Amendments criteria
-- Changes: 13/04/2015: MCB: Added Insert Handling for Existing Extras
-- Changes: 03/11/2016: TT:  Removed code that could lead to inconsistent actions
--  (9)
-- Changes: 23/03/2017: TT:	 Removed call to stored procedure CABS_CREATE_AUTOEMAILER_TABLES
--	(10)					 as it should not be needed if the build processs is robust 					
-- =============================================
CREATE TRIGGER [dbo].[trAutoEmail_Extras] 
   ON  [dbo].[AI_FILE] 
   AFTER INSERT, UPDATE, DELETE
AS 
BEGIN
	SET NOCOUNT ON;
-- =============================================
-- LOCAL DECLARATIONS 
-- =============================================
	DECLARE
		@Enabled INT,
		@SettingsType VARCHAR(1000),
		@Section VARCHAR(1000),
		@InsertCount INT, 
		@DeleteCount INT,
		@ThisIsAnInsert INT,
		@ThisIsAnUpdate INT,
		@ThisIsADelete INT
-- =============================================
-- LOCAL DEFAULT SETTINGS
-- =============================================
	SET @Enabled = 0
	SET @SettingsType = 'S' 
	SET @Section = 'CABS_AUTO_EMAIL_FUNCS_Trigger'
	SET @ThisIsAnInsert = 0
	SET @ThisIsAnUpdate = 0
	SET @ThisIsADelete = 0
-- =============================================
-- DECLARATIONS 
-- =============================================
	DECLARE 
		@BookingNumber VARCHAR(7),
		@BookingDateTime DATETIME,
		@EmailType VARCHAR(6),
		@Frequency VARCHAR(1000),
		@SendFrequency VARCHAR(1000),
		@SendMinutes INT,
		@SendDateTime DATETIME,
		@SessionNumber VARCHAR(7),
		@Action VARCHAR(1),
		@Prikey VARCHAR(10),
		@ItemCode VARCHAR(6)
		
	DECLARE	
		@Source VARCHAR(50),
		@SentStatus bit,		-- added plg 19th Jan 2015	
		@SectionBooking INT,
		@OLDCovers INT,
		@NEWCovers INT,
		@OLDDate DATETIME,
		@NEWDate DATETIME,
		@OLDCharge DECIMAL (10, 2),
		@NEWCharge DECIMAL (10, 2),
		@OLDNotes VARCHAR(MAX),
		@NEWNotes VARCHAR(MAX),
		@OLDStart VARCHAR(5),
		@NEWStart VARCHAR(5),
		@OLDEnd VARCHAR(5),
		@NEWEnd VARCHAR(5),
		@CanSend INT,
		@DeptDecideCode VARCHAR(10),
		@LocDecideCode VARCHAR(6),		
		@Department VARCHAR(MAX)		
-- =============================================
-- GET SETTINGS 
-- =============================================
	SET @Enabled = COALESCE((SELECT [dbo].[fnGet_Config_Value] (@SettingsType, '', @Section, 'Enabled')), '0')
-- =============================================
-- THE WORK
-- =============================================
	IF @Enabled = 0 BEGIN
		RETURN
	END
	ELSE
	IF @Enabled = 1 BEGIN--Enabled
		SET @InsertCount = (SELECT COUNT(*) FROM INSERTED)
		SET @DeleteCount = (SELECT COUNT(*) FROM DELETED) 
		
		IF (@InsertCount > 0 and @DeleteCount > 0) BEGIN --Update Check
			SET @Action = 'U'
			SET @Source = 'Update'
			SET @CanSend = 1
		END --Update Check
		
		IF (@InsertCount > 0 and @DeleteCount = 0) BEGIN
			SET @Action = 'I'
			SET @Source = 'Insert'
			SET @CanSend = 1
		END
		
		IF (@InsertCount = 0 and @DeleteCount > 0) BEGIN
			SET @Action = 'D'
			SET @Source = 'Delete'
			SET @CanSend = 1
		END

		IF @InsertCount = 1  BEGIN
			SET @BookingNumber = (SELECT AI_FREF FROM INSERTED)
			SET @BookingDateTime = (SELECT AI_STARTDATETIME FROM INSERTED)
			SET @SessionNumber = (SELECT COALESCE(F_SESSNO, '') FROM INSERTED INNER JOIN FUNC_FIL ON AI_FREF = F_REF)
			SET @DeptDecideCode = (SELECT AI_CODE FROM INSERTED)
			SET @LocDecideCode = (SELECT COALESCE(RM_LOC, '') FROM INSERTED INNER JOIN FUNC_FIL ON AI_FREF = F_REF INNER JOIN ROOMS ON F_ROOM = RM_ABBR)
			SET @Department = (SELECT [dbo].[uf_getDeptCodes] (@DeptDecideCode, @LocDecideCode))			
			SET @Prikey = (SELECT AI_PRIKEY FROM INSERTED)
			SET @ItemCode = (SELECT AI_CODE FROM INSERTED)
		END
		ELSE
		IF @InsertCount = 0 BEGIN
			SET @BookingNumber = (SELECT AI_FREF FROM DELETED)
			SET @BookingDateTime = (SELECT AI_STARTDATETIME FROM DELETED)
			SET @SessionNumber = (SELECT COALESCE(F_SESSNO, '') FROM DELETED INNER JOIN FUNC_FIL ON AI_FREF = F_REF)
			SET @DeptDecideCode = (SELECT AI_CODE FROM DELETED)
			SET @LocDecideCode = (SELECT COALESCE(RM_LOC, '') FROM DELETED INNER JOIN FUNC_FIL ON AI_FREF = F_REF INNER JOIN ROOMS ON F_ROOM = RM_ABBR)
			SET @Department = (SELECT [dbo].[uf_getDeptCodes] (@DeptDecideCode, @LocDecideCode))
			SET @SessionNumber = (SELECT COALESCE(F_SESSNO, '') FROM DELETED INNER JOIN FUNC_FIL ON AI_FREF = F_REF)
			SET @Prikey = (SELECT AI_PRIKEY FROM DELETED)
			SET @ItemCode = (SELECT AI_CODE FROM DELETED)
		END
	-- =============================================
	-- INSERT RECORDS
	-- =============================================	
	IF @Action = 'D' BEGIN
		SET @Source = 'DELETE:EXTRA'
		--SET @CanSend = 1
		SET @OLDCovers = (SELECT AI_COVERS FROM DELETED)
		SET @OLDDate = (SELECT AI_STARTDATETIME FROM DELETED)
		SET @OLDCharge = (SELECT AI_CHARGE FROM DELETED)
		SET @OLDNotes = (SELECT TOP 1 COALESCE(CONVERT(VARCHAR, AI_TEXT), '') FROM AUD_AI WHERE AI_PRIKEY = @Prikey ORDER BY AI_EDATE DESC)
		SET @OLDStart = (SELECT AI_TIME FROM DELETED)
		SET @OLDEnd = (SELECT AI_ENDTIME FROM DELETED)
	
		-- Removed call to CABS_CREATE_AUTOEMAILER_TABLES - TT - 23/03/2017
		--EXECUTE CABS_CREATE_AUTOEMAILER_TABLES
		EXECUTE ae_INS_AEF_Amendments @BookingNumber, @Prikey, @ItemCode, @OLDStart, @OLDEnd, @OLDCovers, @OLDCharge, @OLDNotes, @Action		
	END
	
	IF @Action = 'I' BEGIN
		SET @CanSend = 1
		SET @Source = 'UPDATE:NewExtras'
		
		SET @OLDCovers = (SELECT AI_COVERS FROM INSERTED)
		SET @OLDDate = (SELECT AI_STARTDATETIME FROM INSERTED)
		SET @OLDCharge = (SELECT AI_CHARGE FROM INSERTED)
		SET @OLDNotes = (SELECT TOP 1 COALESCE(CONVERT(VARCHAR, AI_TEXT), '') FROM AUD_AI WHERE AI_PRIKEY = @Prikey ORDER BY AI_EDATE DESC)
		SET @OLDStart = (SELECT AI_TIME FROM INSERTED)
		SET @OLDEnd = (SELECT AI_ENDTIME FROM INSERTED)
				
		EXECUTE ae_INS_AEF_Amendments @BookingNumber, @Prikey, @ItemCode, @OLDStart, @OLDEnd, @OLDCovers, @OLDCharge, @OLDNotes, @Action				
	END
	
	IF @Action = 'U' BEGIN
		SET @Source = 'UPDATE:EXTRA'
		--SET @CanSend = 1
		SET @OLDCovers = (SELECT AI_COVERS FROM DELETED)
		SET @NEWCovers = (SELECT AI_COVERS FROM INSERTED)
		SET @OLDDate = (SELECT AI_STARTDATETIME FROM DELETED)
		SET @NEWDate = (SELECT AI_STARTDATETIME FROM INSERTED)
		SET @OLDCharge = (SELECT AI_CHARGE FROM DELETED)
		SET @NEWCharge = (SELECT AI_CHARGE FROM INSERTED)
		SET @OLDNotes = (SELECT TOP 1 COALESCE(CONVERT(VARCHAR, AI_TEXT), '') FROM AUD_AI WHERE AI_PRIKEY = @Prikey ORDER BY AI_EDATE DESC)
		SET @NEWNotes = (SELECT COALESCE(CONVERT(VARCHAR, AI_TEXT), '') FROM AI_FILE WHERE AI_PRIKEY = @Prikey)
		SET @OLDStart = (SELECT AI_TIME FROM DELETED)
		SET @NEWStart = (SELECT AI_TIME FROM INSERTED)
		SET @OLDEnd = (SELECT AI_ENDTIME FROM DELETED)
		SET @NEWEnd = (SELECT AI_ENDTIME FROM INSERTED)
		
		--  new code inserted by plg 19 Jan 2015 to check if this is quick change
		-- Removed code - could cause inconsist results as it does not take into account email type - TT - 03/11/2016
		--SET @SentStatus = isnull((SELECT TOP 1 AEFL_Sent FROM AEF_Link WHERE AEFL_FREF = @BookingNumber),0)
		--	-- plg added isnull for if row does not exist
		--IF @SentStatus = 0 BEGIN --i.e. it hasn't been sent yet
		--	-- we just deal with it as though this were the insert
		--	SET @Action = 'I'
		--	SET	@Source = 'UPDATE:EXTRA'
		--end
		--else begin --i.e. it has been sent already
			IF (@OLDCovers <> @NEWCovers) OR (@OLDDate <> @NEWDate) OR (@OLDCharge <> @NEWCharge) OR (@OLDNotes <> @NEWNotes) OR (@OLDStart <> @NEWStart) OR (@OLDEnd <> @NEWEnd) BEGIN 
				SET @Source = 'UPDATE:EXTRA'
				EXECUTE CABS_CREATE_AUTOEMAILER_TABLES
				EXECUTE ae_INS_AEF_Amendments @BookingNumber, @Prikey, @ItemCode, @OLDStart, @OLDEnd, @OLDCovers, @OLDCharge, @OLDNotes, @Action
			END
			
			IF (@OLDCovers = @NEWCovers) AND (@OLDDate = @NEWDate) AND (@OLDCharge = @NEWCharge) AND (@OLDNotes = @NEWNotes) AND (@OLDStart = @NEWStart) AND (@OLDEnd = @NEWEnd) BEGIN
				EXEC ae_DEL_AEF_Amendments @Prikey, 0, 1
			END
		--end
		-- End of changes - TT - 03/11/2016			
	END

	EXECUTE ae_INS_EmailTypes_AEF_Link @BookingNumber, @SessionNumber, @BookingDateTime, @CanSend, @Source, @Action, @Department

END --Enabled
-- =============================================
-- THE END
-- =============================================
END
GO

PRINT '*****************************************************************************'								   
PRINT 'trAutoEmail_Extras: Creating Extended Properties'

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'TABLE' 
							   ,@level1name = [AI_FILE]
							   ,@level2type = N'TRIGGER' 
							   ,@level2name = [trAutoEmail_Extras]
							   ,@name = N'Product' 
							   ,@value = N'CABS'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('trAutoEmail_Extras') AND [name] = 'Product')
BEGIN		
	PRINT 'trAutoEmail_Extras: Product Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Extras: Product Extended Property Not Created Successfully !'
END	

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'TABLE' 
							   ,@level1name = [AI_FILE]
							   ,@level2type = N'TRIGGER' 
							   ,@level2name = [trAutoEmail_Extras]
							   ,@name = N'Module' 
							   ,@value = N'AutoEmail'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('trAutoEmail_Extras') AND [name] = 'Module')
BEGIN		
	PRINT 'trAutoEmail_Extras: Module Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Extras: Module Extended Property Not Created Successfully !'
END			

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'TABLE' 
							   ,@level1name = [AI_FILE]
							   ,@level2type = N'TRIGGER' 
							   ,@level2name = [trAutoEmail_Extras]
							   ,@name = N'Version' 
							   ,@value = N'10.0'
								   
IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('trAutoEmail_Extras') AND [name] = 'Version')
BEGIN		
	PRINT 'trAutoEmail_Extras: Version Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Extras: Version Extended Propety Not Created Successfully !'
END
							   
PRINT '*****************************************************************************'								   
GO

