-- *****************************************************************************
-- WHEN UPDATING THIS FILE DO NOT FORGET TO UPDATE THE VERSION NUMBER IN BOTH 
-- THE FILE HEADER AND THE EXTENDED PROPERTIES SETION AT THE BOTTOM OF THIS FILE
-- *****************************************************************************

if exists (select * from sys.objects where object_id = object_id(N'[trAutoEmail_Booking]') and OBJECTPROPERTY(object_id, N'IsTrigger') = 1)
BEGIN
	DROP TRIGGER [trAutoEmail_Booking]
	PRINT 'trAutoEmail_Booking: Dropped Trigger trAutoEmail_Booking on FUNC_FIL'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Booking: Trigger trAutoEmail_Booking on FUNC_FIL Does Not Exist !'
END
PRINT 'trAutoEmail_Booking: Creating Trigger trAutoEmail_Booking on FUNC_FIL'
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Mark Birch
-- Create date: 23-DEC-2014
-- Description:	Trigger to handle Auto Email Requests for Bookings
-- =============================================
-- Version: 8
-- Date: 03/11/2016
-- =============================================
-- Changes: 29/01/2015: MCB: Added MultiRoom Handling (Only include Booking Owner) 
-- Changes: 10/02/2015: MCB: Added Checks for Covers and Date Change  
-- Changes: 11/02/2015: MCB: Re-Designed Based on new Criteria  
-- Changes: 13/02/2015: MCB: Added Department handling
-- Changes: 05/03/2015: MCB: Changed @DeptDecideCode to VARCHAR(10) 
-- Changes: 11/03/2015: MCB: Added IsNull around SELECT TOP 1 Status 
-- Changes: 03/11/2016: TT:  Removed code that could lead to inconsistent actions
-- (8) 
-- =============================================
CREATE TRIGGER [dbo].[trAutoEmail_Booking] 
   ON  [dbo].[FUNC_FIL] 
   AFTER INSERT, UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
-- =============================================
-- LOCAL DECLARATIONS 
-- =============================================
	DECLARE
		@Enabled INT,
		@SettingsType VARCHAR(1000),
		@Section VARCHAR(1000),
		@InsertCount INT, 
		@DeleteCount INT,
		@ThisIsAnInsert INT,
		@ThisIsAnUpdate INT,
		@ThisIsADelete INT
-- =============================================
-- LOCAL DEFAULT SETTINGS
-- =============================================
	SET @Enabled = 0
	SET @SettingsType = 'S' 
	SET @Section = 'CABS_AUTO_EMAIL_FUNCS_Trigger'
	SET @ThisIsAnInsert = 0
	SET @ThisIsAnUpdate = 0
	SET @ThisIsADelete = 0
-- =============================================
-- DECLARATIONS 
-- =============================================
	DECLARE 
		@BookingNumber VARCHAR(7),
		@BookingDateTime DATETIME,
		@EmailType VARCHAR(6),
		@Frequency VARCHAR(1000),
		@SendFrequency VARCHAR(1000),
		@SendMinutes INT,
		@SendDateTime DATETIME,
		@SessionNumber VARCHAR(7),
		@Action VARCHAR(1)
		
	DECLARE	
		@OLDRoom VARCHAR(6),
		@NEWRoom VARCHAR(6),
		@OLDBooker VARCHAR(7),
		@NEWBooker VARCHAR(7),
		@Source VARCHAR(20),
		@SentStatus bit,		-- added plg 19th Jan 2015	
		@OLDStatus VARCHAR(6),
		@NEWStatus VARCHAR(6),
		@BookingOwner VARCHAR(7),
		@SectionBooking INT,
		@OLDCovers INT,
		@NEWCovers INT,
		@OLDDate DATETIME,
		@NEWDate DATETIME,
		@CanSend INT,
		@DeptDecideCode VARCHAR(10),
		@LocDecideCode VARCHAR(6),
		@Department VARCHAR(1000)
-- =============================================
-- GET SETTINGS 
-- =============================================
	SET @Enabled = COALESCE((SELECT [dbo].[fnGet_Config_Value] (@SettingsType, '', @Section, 'Enabled')), '0')
-- =============================================
-- THE WORK
-- =============================================
	IF @Enabled = 0 BEGIN
		RETURN
	END
	ELSE
	IF @Enabled = 1 BEGIN--Enabled
		SET @InsertCount = (SELECT COUNT(*) FROM INSERTED)
		SET @DeleteCount = (SELECT COUNT(*) FROM DELETED) 
		
		IF (@InsertCount > 0 and @DeleteCount > 0) BEGIN --Update Check
			SET @Action = 'U'
			SET @Source = 'Update'
			SET @CanSend = 1
		END --Update Check
		
		IF (@InsertCount > 0 and @DeleteCount = 0) BEGIN
			SET @Action = 'I'
			SET @Source = 'Insert'
			SET @CanSend = 1
		END
		
		IF (@InsertCount = 0 and @DeleteCount > 0) BEGIN
			SET @Action = 'D'
			SET @Source = 'Delete'
			SET @CanSend = 0
		END

		IF @InsertCount = 1  BEGIN
			SET @BookingNumber = (SELECT F_REF FROM INSERTED)
			SET @BookingDateTime = (SELECT F_STARTDATETIME FROM INSERTED)
			SET @SessionNumber = (SELECT COALESCE(F_SESSNO, '') FROM INSERTED)
			SET @BookingOwner = (SELECT COALESCE(F_OWNER, '') FROM INSERTED)
			SET @DeptDecideCode = (SELECT F_ROOM FROM INSERTED)
			SET @LocDecideCode = (SELECT COALESCE(RM_LOC, '') FROM ROOMS WHERE RM_ABBR = @DeptDecideCode)
			SET @Department = (SELECT [dbo].[uf_getDeptCodes] (@DeptDecideCode, @LocDecideCode))
		END
		ELSE
		IF @InsertCount = 0 BEGIN
			SET @BookingNumber = (SELECT F_REF FROM DELETED)
			SET @BookingDateTime = (SELECT F_STARTDATETIME FROM DELETED)
			SET @SessionNumber = (SELECT COALESCE(F_SESSNO, '') FROM DELETED)
			SET @BookingOwner = (SELECT COALESCE(F_OWNER, '') FROM DELETED)
		END
		
		SET @SectionBooking = CASE WHEN @BookingOwner = @BookingNumber THEN 0 WHEN @BookingOwner = '' THEN 0 ELSE 1 END 
	-- =============================================
	-- INSERT RECORDS
	-- =============================================	
	IF @SectionBooking = 0 BEGIN --Section Booking
		IF @Action = 'D' BEGIN
			SET @CanSend = 0
			SET @Source = 'DELETED'
		END
		
		IF @Action = 'I' BEGIN
			SET @CanSend = 1
			SET @Source = 'INSERT:NewBooking'
		END

		IF @Action = 'U' BEGIN
			SET @CanSend = 1
			SET @OLDRoom = (SELECT F_ROOM FROM DELETED)
			SET @NEWRoom = (SELECT F_ROOM FROM INSERTED)
			SET @OLDBooker = (SELECT F_BOOKER FROM DELETED)
			SET @NEWBooker = (SELECT F_BOOKER FROM INSERTED)
			SET @OLDStatus = (SELECT F_STATUS FROM DELETED)
			SET @NEWStatus = (SELECT F_STATUS FROM INSERTED)
			SET @OLDCovers = (SELECT F_PAX_ACT FROM DELETED)
			SET @NEWCovers = (SELECT F_PAX_ACT FROM INSERTED)
			SET @OLDDate = (SELECT F_DAY FROM DELETED)
			SET @NEWDate = (SELECT F_DAY FROM INSERTED)
			
			--  new code inserted by plg 19 Jan 2015 to check if this is quick change
			-- Removed code - could cause inconsist results as it does not take into account email type - TT - 03/11/2016
			--SET @SentStatus = isnull((SELECT TOP 1 AEFL_Sent FROM AEF_Link WHERE AEFL_FREF = @BookingNumber),0)
			--IF @SentStatus = 0 BEGIN --i.e. it hasn't been sent yet
			--	-- we just deal with it as though this were the insert
			--	SET @Action = 'I'
			--	SET	@Source = 'INSERT:NewBooking'
			--end
			--else begin --i.e. it has been sent already
				IF @OLDBooker <> @NEWBooker
				BEGIN 
					SET @Source = 'UPDATE:BOOKER'
				END
			
				IF @OLDRoom <> @NEWRoom
				BEGIN 
					SET @Source = 'UPDATE:ROOM'
				END

				IF @OLDStatus <> @NEWStatus
				BEGIN 
					SET @Source = 'UPDATE:STATUS'
				END
				
				IF @OLDCovers <> @NEWCovers
				BEGIN 
					SET @Source = 'UPDATE:COVERS'
				END
				
				IF @OLDDate <> @NEWDate
				BEGIN 
					SET @Source = 'UPDATE:DATE'
				END
			-- end	
			-- End of changes - TT - 03/11/2016	
		END

		EXECUTE ae_INS_EmailTypes_AEF_Link @BookingNumber, @SessionNumber, @BookingDateTime, @CanSend, @Source, @Action, @Department

	END --Section Booking	
END --Enabled
-- =============================================
-- THE END
-- =============================================
END
GO

PRINT '*****************************************************************************'								   
PRINT 'trAutoEmail_Booking: Creating Extended Properties'

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'TABLE' 
							   ,@level1name = [FUNC_FIL]
							   ,@level2type = N'TRIGGER' 
							   ,@level2name = [trAutoEmail_Booking]
							   ,@name = N'Product' 
							   ,@value = N'CABS'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('trAutoEmail_Booking') AND [name] = 'Product')
BEGIN		
	PRINT 'trAutoEmail_Booking: Product Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Booking: Product Extended Property Not Created Successfully !'
END	

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'TABLE' 
							   ,@level1name = [FUNC_FIL]
							   ,@level2type = N'TRIGGER' 
							   ,@level2name = [trAutoEmail_Booking]
							   ,@name = N'Module' 
							   ,@value = N'AutoEmail'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('trAutoEmail_Booking') AND [name] = 'Module')
BEGIN		
	PRINT 'trAutoEmail_Booking: Module Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Booking: Module Extended Property Not Created Successfully !'
END			

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'TABLE' 
							   ,@level1name = [FUNC_FIL]
							   ,@level2type = N'TRIGGER' 
							   ,@level2name = [trAutoEmail_Booking]
							   ,@name = N'Version' 
							   ,@value = N'8.0'
								   
IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('trAutoEmail_Booking') AND [name] = 'Version')
BEGIN		
	PRINT 'trAutoEmail_Booking: Version Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'trAutoEmail_Booking: Version Extended Propety Not Created Successfully !'
END
							   
PRINT '*****************************************************************************'								   
GO
