/****** Object:  StoredProcedure [dbo].[usp_CABS_get_FI_Value_for_Invoice]    Script Date: 27/09/2016 00:41:38 ******/
if exists(select OBJECT_ID from sys.objects where name = N'usp_CABS_get_FI_Value_for_Invoice') begin
	DROP PROCEDURE usp_CABS_get_FI_Value_for_Invoice
end
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Peter Green	
-- Create date: 18 Sept 2012
-- Description:	Returns the data for a field in the FI_template for an invoice
--			  : 21st Nov 2015 replaces usp_CABS_get_FI_Value_for_Invoice with more parameters passed to reduce data reads
-- =============================================
CREATE PROCEDURE [dbo].[usp_CABS_get_FI_Value_for_Invoice]
(
	-- Add the parameters for the function here
	@FieldNo int,
	@F_TranNo Varchar(10),
	@mappingCount int,
	@ResultTable Varchar(100),
	@ResultField Varchar(100),
	@SelectionField Varchar(100),
	@DefaultValue Varchar(200),
	@Decplaces bit,
	@Justification Varchar(6),
	@PadCharacter SmallInt,
	@FieldLength Int,
	@ResultVar Varchar(400) OUTPUT
)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @DotPosition Int
	DECLARE @SQLVar nVarchar(4000)
	DECLARE @Param nVarchar(500)
	DECLARE @RetVal1 Varchar(50)
	DECLARE @ResultVar1 Varchar(200)
	DECLARE @SelectionParameter Varchar(50)
	DECLARE @ContextSwitcher Varchar(50)
	DECLARE @RM_ABBR Varchar(20)   -- for future upgrades

	-- Add the T-SQL statements to compute the return value here
	SET Concat_Null_Yields_Null OFF
	if isnull(@fieldNo,0) <> 0 begin -- begin is a valid field no (1)
		If @MappingCount > 0 begin -- begin is a mapped field no (2)
			Set @ContextSwitcher = (Select dbo.uf_getFunc_or_AccomDecider(@F_TranNo))
			if @SelectionField = 'RLK_ID' and  @ContextSwitcher ='Manual Posting' set @SelectionField = 'XXXXX'
			if (PATINDEX('XXXXX',@Selectionfield) > 0 ) begin --is not a usable mapped field (3)
			-- do something!!!!
				SET @ResultVar = ''
			end  --is not a usable mapped field (3)
			else begin  --is a usable mapped field (3a)
				set @SelectionParameter = dbo.ufGetSelectionParameter(@SelectionField,@F_TranNo)
				SET @ResultVar = ''
				Set @SQLVar = 'Select Top 1  @ResultVariable = ' + @Resultfield +' from ' + @resulttable 
							+  ' Where ' + @SelectionField + ' = ' + Char(39) + @SelectionParameter +Char(39)
				Set @PAram = '@ResultVariable Varchar(400) OUTPUT' 
				exec sp_executeSQL @SQLVAr, @Params=@Param,@ResultVariable=@ResultVar OUTPUT
				--now we need to see whether there is a manipulate rule 
				-- perhaps need here what to do if returns a null
				set @resultvar = isnull(@resultvar,' ')
				-- also need to remove CHAR(39)
				set @resultvar = REPLACE(@resultvar,Char(39),Char(95))
			end --is a usable mapped field (3a)
		
			if SUBSTRING(@defaultvalue,1,5) = 'RULE:' begin --is a usable mapped field  and has a Rule (3b)
				--ie we have to now apply a rule to the value we have found!!
				set @SQLVar = SUBSTRING(@defaultValue,6,95) + ' @InputPar, @InputPar1, @OutputVar OUTPUT'
				Set @Param = '@InputPar VARCHAR(50), @InputPar1 Varchar(50), @OutputVar Varchar(400) OUTPUT'
				exec sp_executeSQL @SQLVAr, @Params=@Param,@InputPar=@ResultVar, @InputPar1=@F_TranNo, @OutputVar=@RetVal1 OUTPUT
				Set @ResultVar = @RetVal1
			end --is a usable mapped field  and has a Rule (3b)
			else begin --is a usable mapped field  and has no Rule (3c)
				if isnull(@ResultVar,'' ) = '' begin --is a usable mapped field but it returns an empty value (4c)
					if @defaultValue <> '' begin -- the default value has something in it (5c)
						Set @ResultVar = @defaultValue
					end -- the default value has something in it (5c)
				end --is a usable mapped field but it returns an empty value (4c)
			end	--is a usable mapped field  and has no Rule (3c)
		end -- begin is a mapped field no (2)
		else begin -- begin it is not a mapped field no (2d)
			if SUBSTRING(@defaultvalue,1,5) = 'RULE:' begin -- begin it is not a mapped field no but has a rule (3d)
				set @SQLVar = SUBSTRING(@defaultvalue,6,95) + ' @InputPar, @InputPar1, @OutputVar OUTPUT'
				Set @Param = '@InputPar VARCHAR(50), @InputPar1 Varchar(50), @OutputVar Varchar(400) OUTPUT'
				exec sp_executeSQL @SQLVAr, @Params=@Param,@InputPar=@ResultVar, @InputPar1=@F_TranNo, @OutputVar=@RetVal1 OUTPUT
				set @ResultVar = @Retval1
			END -- begin it is not a mapped field no but has a rule (3d)
			else begin -- begin it is not a mapped field and has no rule (3e)
				set @ResultVar = @DefaultValue
			end -- begin it is not a mapped field and has no rule (3e)
		end-- begin it is not a mapped field no (2d)

		SET @Resultvar = coalesce(@ResultVar,isnull(@DefaultValue,' '))
		SET @Resultvar = SUBSTRING(isnull(@ResultVar,' '),1,255)

		-- now apply any changes required

		IF (@Decplaces = '0')  begin
			set @DotPosition = CHARINDEX('.',@ResultVar,1)
			if @DotPosition = 0 begin
				Set @ResultVar = @ResultVar + '00'
				IF @ResultVar = '000' set @resultvar = '00'
			end
			else begin
				if ((Len(@ResultVar) - @DotPosition)) > 2 begin
					-- need to trim off the extra numbers
					set @resultvar = Convert(varchar(50),Round(Convert(float,@resultvar),2))
				end
				else begin 
					if ((Len(@ResultVar) - @DotPosition)) = 0 begin
					-- need to pad with  2 zeroes
						Set  @ResultVar = @ResultVar + '00'
					end
					if ((Len(@ResultVar) - @DotPosition)) = 1 begin
					-- need to pad with  1 zero
						Set  @ResultVar = @ResultVar + '0'
					end
				end
				Set @ResultVar = REPLACE(@ResultVar,'.','')
			end
		end
--		@ResultVar 
		If Len(RTRIM(LTRIM(@Resultvar))) < @FieldLength begin
			if @Justification = '' begin
				set @Justification = 'RIGHT'
			end
			if @Justification <> '' begin
				IF @PadCharacter > 0 begin
					If @Justification = 'LEFT' begin
						While Datalength(@Resultvar) < @FieldLength begin
							Set @Resultvar = @Resultvar + Char(@PadCharacter)
						end
					end
					IF @Justification = 'RIGHT' begin
						While Datalength(@Resultvar) < @FieldLength begin
							Set @Resultvar = Char(@PadCharacter) +  @Resultvar
						end
					end
				end
		     end
		end  
	end
	else begin
		-- we do not have valid parameters send back what we were sent
		Set @ResultVar = ''--@F_TranNo
	end
					
	-- Return the result of the function
SET Concat_Null_Yields_Null ON
	
END

