SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Peter Green
-- Create date: 1st Sept 2016
-- Description:	Returns a single room score for use in Outlook
-- =============================================
CREATE FUNCTION [dbo].[uf_OutlookRoomScore] 
(
	-- Add the parameters for the function here
	@RequestedUse varchar(10),
	@RequestedLoc varchar(10),
	@RequestedCovers int,
	@Room Varchar(10),
	@user Varchar(100) = ''
)
RETURNS decimal(10,4)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result decimal(10,4)
	DECLARE @LocWeighting Decimal(10,2)
	DECLARE @LocWeighting1 Decimal(10,2)
	DECLARE @UseWeighting Decimal(10,2)
	DECLARE @FitWeighting Decimal(10,2)
	Declare @LocScore Decimal(10,4)
	Declare @UseScore Decimal(10,4)
	Declare @FitScore Decimal(10,4)
	Declare @MaxCovers Decimal (10,2)
	Declare @ConfigSetting VArchar(100)

	-- Add the T-SQL statements to compute the return value here
	set @ConfigSetting = (Select dbo.uf_xCABS_CONFIG_ReadString(@user, 'OutlookAddIn','LocationWeighting'))
	set @LocWeighting = Case @ConfigSetting when '' then 500 else  Cast(@ConfigSetting as Decimal(10,2)) end
	set @ConfigSetting = (Select dbo.uf_xCABS_CONFIG_ReadString(@user, 'OutlookAddIn','FitWeighting'))
	set @FitWeighting = Case @ConfigSetting when '' then 100 else  Cast(@ConfigSetting as Decimal(10,2)) end
	set @ConfigSetting = (Select dbo.uf_xCABS_CONFIG_ReadString(@user, 'OutlookAddIn','UseWeighting'))
	set @UseWeighting = Case @ConfigSetting when '' then 100 else  Cast(@ConfigSetting as Decimal(10,2)) end
	
--	set @LocWeighting = 500 --Cast(Isnull((Select dbo.uf_xCABS_CONFIG_ReadString(@user, 'OutlookAddIn','LocationWeighting')),100) as decimal(10,2))
--	set @FitWeighting = 300 --Cast(Isnull((Select dbo.uf_xCABS_CONFIG_ReadString(@user, 'OutlookAddIn','FitWeighting')),100) as decimal(10,2))
--	set @UseWeighting = 100 --Cast(Isnull((Select dbo.uf_xCABS_CONFIG_ReadString(@user, 'OutlookAddIn','UseWeighting')),100) as decimal(10,2))

	if @requestedLoc = 'ANY' set @LocScore = 1.00*@LocWeighting
	else Set @LocScore = (Select Case RM_LOC when @RequestedLoc then 1.00 else 0 end from Rooms where RM_Abbr = @Room)*@LocWeighting
	if @RequestedUse = 'ANY' set @UseScore = 1.00*@UseWeighting
	else Set @UseScore = (Select Case RM_LOC when @RequestedLoc then 1.00 else 0 end from Rooms where RM_Abbr = @Room)*@UseWeighting
	Set @MaxCovers = (select US_MAX from RM_USE where US_RM_CODE = @Room and US_RM_USE = dbo.uf_BestRoomFitUse(@requestedcovers,@Room,@RequestedUse))
	set @FitScore = (SELECT CASE when @Maxcovers= 0 then 1.00 when @Requestedcovers/@MaxCovers > 0.49 then 1.00 else @Requestedcovers/@MaxCovers end)*@FitWeighting

	SET @Result = (@LocScore+@UseScore+@FitScore)/(@LocWeighting+@UseWeighting+@FitWeighting)

	-- Return the result of the function
	RETURN @Result

END