SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =================================================================
-- Author:		Tony Tasker
-- Create date: 20th March 2017
-- Description:	Enables the testing of function uf_GetEMailSendTime
-- =================================================================
-- Version: 1.0
-- Date: 20/03/2017
-- =================================================================
-- Changes (1.0): 20/03/2017: TT: Original Version
-- =================================================================

DECLARE @EmailType VARCHAR(7) = 'AEFCON'
DECLARE @CreateDate DATETIME = '03-20-2017 12:00:00'
DECLARE @StartDate DATETIME = '03-28-2017 07:00:00'
DECLARE @EndDate DATETIME	= '03-28-2017 17:00:00'
DECLARE @Frequency VARCHAR(1000) = 'D:01;H:7;M:0;W:0;S:0;T:0700;L:B4'

PRINT '================================================================================================================'
PRINT 'TEST VALUES: EmailType = ' + @EmailType
PRINT 'TEST VALUES: Function Start Date = ' + CONVERT(VARCHAR(32), @StartDate)
PRINT 'TEST VALUES: Function End Date = ' + CONVERT(VARCHAR(32), @EndDate)
PRINT 'TEST VALUES: Frequency Config Setting = ' + @Frequency
PRINT '================================================================================================================'

DECLARE @FRef VARCHAR(7) 

-- Declare the return variable here
DECLARE @Result datetime
DECLARE @TimeType varchar(5) -- this is whether it should be B4 event time or after change time
Declare @Mins int

DECLARE @SP_TRG Varchar(1000)
Declare @Days   int
Declare @Hours  int
Declare @WeekendsInc int
	
Declare @StrLen int
Declare @Pos    int
Declare @SubStr    varchar(255)
Declare @SubStrLen int
Declare @VCString Varchar(255)
Declare @SetDay int


-- Added - TT - 20/06/2016
DECLARE @DebugFlag AS INT
SET @DebugFlag = COALESCE((SELECT [dbo].[fnGet_Config_Value] ('S', '', 'CABS_AUTO_EMAIL_FUNCS', 'DebugFlag')), '0')  -- Added by TT - 20/06/2016
-- End of Additions - TT - 20/06/2016

set @SP_TRG = @EmailType
-- Set the defaults
	
-- SET @Frequency = 'D:2;H:0;M:0;W:0;S:0;L:B4;'
-- D indicates the number of days
-- H           the number of hours
-- M                         minutes
-- W    if 0 means Weekends are ignored 
--      if 1 means weekends are included
-- S is for a set day,  0 means none any other is the day of the week
-- T is for a set time on the set day in format 0930
-- L is in response to the event date 
--			B4 means calculate from event date backwards
--			CR means calculate from the Creation Time
--			NW means calculate from the Now
--			RE means recurring
--			AE means calculate from event date forwards
	

Set @Mins = 48*60  -- i.e 2 days
SET @TimeType = 'B4'
Set @WeekendsInc = 0 -- default is only working days
-- get the config settings
--IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE [DELETED] = 0 AND [TYPE] = 'S' AND SECTION = @SP_TRG AND [KEY] = 'Frequency') > 0
--	BEGIN
--		SET @Frequency = (SELECT [VALUE] FROM xCABS_CONFIG_TABLE WHERE [DELETED] = 0 AND [TYPE] = 'S' AND SECTION = @SP_TRG AND [KEY] = 'Frequency')
--	END

-- Add the T-SQL statements to compute the return value here
	-- Ensure there is a semi-colon at the end of the string
If SUBSTRING( @Frequency, Len(@Frequency), 1) <> ';'
	set @Frequency = @Frequency + ';'

set @StrLen = LEN( @Frequency )    -- how long is it
-- Does the input string have a Weekend element
set @Pos = PATINDEX( '%W%', @Frequency )
If @Pos > 0
begin
    -- Get the substring from before the W
    set @VCString = SUBSTRING(@Frequency, 1,@Pos -1) 
	set @WeekendsInc = Cast(SUBSTRING(@Frequency,@Pos+2,1) as int)
	PRINT 'WEEKEND SETTING: Weekends Included Setting (W) = ' + CONVERT(VARCHAR(2), @WeekendsInc)
end
else begin -- send the whole string 
    set @VCString = @Frequency
	PRINT 'WEEKEND SETTING: Weekends Included Setting (W) Not in Frequency String'
end

PRINT '================================================================================================================'

-- now call the old function to convert this to minutes
PRINT 'TIME SETTINGS: Adjustment Time String: = ' + @vcString
set @Mins = (SELECT dbo.fn_GetMinsValue(@vcString)  )
PRINT 'TIME SETTINGS: Adjustment Time (Mins) = ' + CONVERT(VARCHAR(10), @Mins)
	
-- find the L Type

set @Pos = PATINDEX( '%L%', @Frequency )
IF @Pos > 0 begin
	SET @TimeType = SUBSTRING( @Frequency, @Pos +2, (@StrLen-@Pos-2) )
	PRINT 'TIME SETTINGS: Time Type = ' + @TimeType
END	
	
--MCB Commented Out: 24/02/15
----set @Pos = PATINDEX( '%L%', @Frequency )
----IF @Pos > 0 begin
----	set @SubStr = SUBSTRING( @vcString, @Pos +2, (@StrLen-@Pos-1) ) 
----	-- now check there's nothing else
----	set @Pos    = PATINDEX( '%;%', @SubStr )
----	-- set @SubStrLen = LEN( @SubStr )
----	if @pos > 0 begin
----		Set @TimeType = SUBSTRING(@SubStr,1,@Pos-1)
----	end
----	else begin
----		Set @TimeType = @SubStr
----	end
----END
PRINT '================================================================================================================'

If @TimeType = 'B4' begin
	-- do what's needed
	--set @StartDate = (SELECT F_StartDAtetime from FUNC_FIL where F_REF = @FRef)
	set @Result = DATEADD(MINUTE,-@Mins,@StartDate)
	PRINT 'TIME TYPE - B4 - Date Time to Send = ' + CONVERT(VARCHAR(32), @Result) + ' (Function Start = ' + CONVERT(VARCHAR(32), @StartDate) + ')'
	--if @WeekendsInc = 0 begin
	--	-- construct aloop to bring forward by a day until it is not a saturday or Sunday
	--	if DATEPART(WEEKDAY,@Result) = 1 begin -- i.e. Sunday
	--		set @Result = dateadd(d,-1,@result)
	--	End 
	--	if DATEPART(WEEKDAY,@Result) = 7 begin -- i.e. Saturday
	--		set @Result = dateadd(d,-1,@result)
	--	End 
	--end
end	
else
--MCB: Added 14/10/2015
If @TimeType = 'CR' begin
	-- do what's needed for instant sends
	--set @StartDate = (SELECT F_CREATEDATE from FUNC_FIL where F_REF = @FRef)
	--set @result = DATEADD(MINUTE,@Mins,@StartDate)
	set @result = DATEADD(MINUTE,@Mins, @CreateDate)
	PRINT 'TIME TYPE - CR - Date Time to Send = ' + CONVERT(VARCHAR(32), @Result) + ' (Function Created = ' + CONVERT(VARCHAR(32), @CreateDate) + ')'
end
else
--MCB: Added 14/10/2015
If @TimeType = 'NW' begin 
	-- do what's needed for send from NOW
	set @StartDate = GETDATE()
	set @result = DATEADD(MINUTE, @Mins,@StartDate)
	PRINT 'TIME TYPE - NW - Date Time to Send = ' + CONVERT(VARCHAR(32), @Result) + ' (Current Time = ' + CONVERT(VARCHAR(32), @StartDate) + ')'
end
ELSE	
-- Added After Event Section - TT - 08/09/2016
IF @TimeType = 'AE' BEGIN	
	--SET @EndtDate = (SELECT F_ENDDATETIME from FUNC_FIL where F_REF = @FRef)
	-- Adds days, hours and minutes (in minutes) determined from the config 
	-- to the EndDate of the Event
	SET @result = DATEADD(MINUTE,@Mins,@EndDate)
	PRINT 'TIME TYPE - AE - Date Time to Send = ' + CONVERT(VARCHAR(32), @Result) + ' (Function Ended = ' + CONVERT(VARCHAR(32), @EndDate) + ')'
END
/* 
	Changes - TT - 15/06/2016 
	Supposed to be used for Recurring Emails
*/
ELSE
IF @TimeType = 'RE'
BEGIN
	-- Get the day on which the emails are supposed to be sent from X CABS CONFIG
	SET @pos = PATINDEX( '%S%', @Frequency )
	IF @pos > 0 
	BEGIN
		-- Get the day (Sunday = 1, ... Saturday = 7		
		SET @SetDay = Cast (SUBSTRING(@Frequency,@pos+2,1) AS INT)
			
		-- Declare variables required
		DECLARE @EmailSendDateTime DATETIME,		
				@NewEmailSendDateTime DATETIME

		-- Get the Email Send Date and Time from teh AEFLINK View
		-- This is used by CABS_AUTO_EMAIL_FUNCS_SESS_CHECK to determine emails to be sent
		SET @EmailSendDateTime = (SELECT AEFL_SendTime FROM AEF_Link WHERE AEFL_FREF = @FRef AND AEFL_EMailType = @EmailType)

		-- If the date is in the past ....
		IF (DATEDIFF(DAY, @EmailSendDateTime, GETDATE()) > 0) --Send Date in past
		BEGIN
			-- Get the date of the next day the email shoudl be sent	
			SET @Result = (SELECT DATEADD(dd,(7 - DATEPART(dw,GETDATE()) + @SetDay ) % 7, GETDATE()))

			-- Get the time on which the emails are supposed to be sent from X CABS CONFIG
			SET @pos = PATINDEX( '%T%', @Frequency )
			If @pos > 0
			BEGIN
				DECLARE @SetTime VARCHAR(6)
				DECLARE @Dev INT = 0
				SET @SetTime = SUBSTRING(@Frequency,@pos+2,4) -- In format HHMM
				-- Construct the date and time the next email should be sent (based on X CABS CONFIG Settings - S and T in Frequency key
				-- This will update the AEFL_SendTime field in vw_AEFLINK
				-- Added DATE TIME Format 20 to account for DB Date Tim Setting - TT - 25/07/2016
				-- SET @Result = CONVERT(DATETIME, SUBSTRING(CONVERT(VARCHAR,@Result,20),1,10) + ' '  + SUBSTRING(@SetTime, 1, 2) +':' + SUBSTRING(@SetTime, 3, 2) +':' +'00')					
				SET @Result = CONVERT(DATETIME, SUBSTRING(CONVERT(VARCHAR,@Result,20),1,10) + ' '  + SUBSTRING(@SetTime, 1, 2) +':' + SUBSTRING(@SetTime, 3, 2) +':' +'00',20)
				-- Added Debug functionlaity to assist testing - TT - 20/06/2016
				If @DebugFlag = 1
				BEGIN
					DECLARE @DebugSendDateTime VARCHAR(30)
					SET @DebugSendDateTime = COALESCE((SELECT [dbo].[fnGet_Config_Value] ('S', '', @EmailType, 'DebugSendDateTime')), '')  -- Added by TT - 20/06/2016
					IF @DebugSendDateTime <> ''
						SET @Result = CONVERT(DATETIME, @DebugSendDateTime)
				END
				-- End of Added Debug functionlaity to assist testing - TT - 20/06/2016
			END
		END
	END
END
else begin
	-- do what's needed for instant sends
	--set @StartDate = (SELECT F_CREATEDATE from FUNC_FIL where F_REF = @FRef)	
	set @result = DATEADD(MINUTE,@Mins,@CreateDate)
	PRINT 'TIME TYPE - Time Type Not Known - Date Time to Send = ' + CONVERT(VARCHAR(32), @Result) + ' (Function Created = ' + CONVERT(VARCHAR(32), @CreateDate) + ')'
end
	
PRINT '================================================================================================================'

set @pos = PATINDEX( '%S%', @Frequency )
if @pos > 0 and @TimeType <> 'RE' begin -- Added @TimeType Condition - TT - 16/06/2016
	-- Moved line to ensure that @SetDay is set before checking value - TT - 17/01/2017
	Set @SetDay = Cast (SUBSTRING(@Frequency,@pos+2,1) as Int)
	PRINT 'SET DAY SETTING: Set Day = ' + CONVERT(VARCHAR(2), @SetDay)
	if @SetDay <> 0 begin
		-- Set @SetDay = Cast (SUBSTRING(@Frequency,@pos+2,1) as Int) - Code in wrng place - TT - 17/01/2017
		While DATEPART(WEEKDAY,@Result) <> @setday begin -- keep taking a day earlier until we get to the right date
			set @Result = dateadd(d,-1,@result) 
		end
		PRINT 'SET DAY SETTING: Recalculated Date Time to Send = ' + CONVERT(VARCHAR(32), @Result)
	end
end

PRINT '================================================================================================================'

-- Added code to enable emails to be sent at a fixed time - TT - 17/01/2017
set @pos = PATINDEX( '%T%', @Frequency )
if @pos > 0 and @TimeType <> 'RE' begin -- Added @TimeType Condition - TT - 16/06/2016		
	SET @SetTime = SUBSTRING(@Frequency,@pos+2,4)
		
	DECLARE @HH VARCHAR(2)
	DECLARE @SS VARCHAR(2)
		
	SET @HH = SUBSTRING(@SetTime, 1, 2)
	SET @SS = SUBSTRING(@SetTime, 3, 2)

	SET @Result = DateAdd(hh,- (DatePart(hh,@Result))+CONVERT(INT, @HH), @Result) 
	SET @Result = DateAdd(mi,- (DatePart(mi,@Result))+CONVERT(INT, @SS), @Result) 
	SET @Result = DateAdd(ss,- (DatePart(ss,@Result)), @Result) 
	SET @Result = DateAdd(ms,- (DatePart(ms,@Result)), @Result) 
			
	PRINT 'SET TIME SETTING: Set Time Setting = ' + @SetTime + ' ,Recalculated Date Time to Send = ' + CONVERT(VARCHAR(32), @Result)
end
-- End of Changes - TT - 17/01/2017

PRINT '================================================================================================================'

if @WeekendsInc = 0 begin
	PRINT 'WEEKEND SETTING: Date Time to Send = ' + CONVERT(VARCHAR(32), @Result)
	-- new check for bank holidays added 
	while dbo.uf_IsDateABankHoliday(@result) = 1 begin
		set @Result = dateadd(d,-1,@result) 
	end
	PRINT 'WEEKEND SETTING: Date Time to Send After Bank Holiday Check = ' + CONVERT(VARCHAR(32), @Result)
	-- construct aloop to bring forward by a day until it is not a saturday or Sunday
	if DATEPART(WEEKDAY,@Result) = 1 begin -- i.e. Sunday
		set @Result = dateadd(d,-1,@result)
	End 
	PRINT 'WEEKEND SETTING: Date Time to Send After Sunday Check = ' + CONVERT(VARCHAR(32), @Result)
	if DATEPART(WEEKDAY,@Result) = 7 begin -- i.e. Saturday
		set @Result = dateadd(d,-1,@result)
	End 
	PRINT 'WEEKEND SETTING: Date Time to Send After Saturday Check = ' + CONVERT(VARCHAR(32), @Result)
	-- new check for bank holidays added 
	-- it's in twice to catch Mondays and Fridays !!
	while dbo.uf_IsDateABankHoliday(@result) = 1 begin
		set @Result = dateadd(d,-1,@result) 
	end
	PRINT 'WEEKEND SETTING: Date Time to Send After 2nd Bank Holiday Check = ' + CONVERT(VARCHAR(32), @Result)
end
-- new check for bank holidays added 
-- Added IF to ensure that days are not taken of send time for After Event emails - TT - 08/09/2016
IF @TimeType <> 'AE'
BEGIN
	while dbo.uf_IsDateABankHoliday(@result) = 1 begin		
			set @Result = dateadd(d,-1,@result) 		
	end
	PRINT 'WEEKEND SETTING: Date Time to Send After 3rd Bank Holiday Check = ' + CONVERT(VARCHAR(32), @Result)
END

PRINT '================================================================================================================'

-- End of Additions - TT - 08/09/2016
--check to see if we have a date in the past and if so make it now
IF @TimeType <> 'RE' -- TT
BEGIN
	if DATEDIFF(minute,@result,getdate()) > 0 set @result = getdate()
	PRINT 'FINAL CHECK: If Date Time to Send In Past Set to Current Date Time = ' + CONVERT(VARCHAR(32), @Result)
	if ((DATEDIFF(minute,@startdate,getdate())) > 0 AND (@timetype ='B4')) set @result = getdate()
	PRINT 'FINAL CHECK: If Function Start Date In Past and Time Type is B4 Set to Current Date Time = ' + CONVERT(VARCHAR(32), @Result)
END

PRINT '================================================================================================================'
	
If DATEDIFF ( minute , GETDATE() ,  @Result ) <=0	
	PRINT 'FINAL CHECK: Email Is Scheduled to Be Sent'
ELSE
	PRINT 'FINAL CHECK: Email Is Not Yet Scheduled to Be Sent'

-- Return the result of the function
--SELECT @EmailType AS EmailType, @StartDate AS StartDate, @EndDate AS EndDate, @Frequency AS FrequencySetting, @Result AS SendDateTime


PRINT '================================================================================================================'