SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Peter Green
-- Create date: 28th Mar 2014
-- Description:	Determines whether a room is available for a range of dates and times
-- Date:		9th Sep 2016
-- Version:		2
-- Changes:		9th Sept 2016 PLG Added new parameter to take list of exclusions and added setup and breakdown times
-- =============================================
CREATE FUNCTION [dbo].[uf_isRoomFree] 
(
	-- Add the parameters for the function here
	@Room Varchar(10),
	@StartDate datetime,
	@endDate datetime,
	@ExcList Varchar(4000) = ''
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result int


	-- Add the T-SQL statements to compute the return value here
	if isnull(@ExcList,'') = '' begin
		Set @result = (select count(F_REF) from vw_Functions where F_ROOM = @room 
						and ((@Startdate > StartOccupy and @Startdate < EndOccupy) 
						or (@endDate >  StartOccupy and @Enddate < EndOccupy) 
						or (@startdate < StartOccupy and @enddate > EndOccupy)))
	end
	else begin
		Set @result = (select count(F_REF) from vw_Functions where F_ROOM = @room 
						and ((@Startdate > StartOccupy and @Startdate < EndOccupy) 
						or (@endDate >  StartOccupy and @Enddate < EndOccupy) 
						or (@startdate < StartOccupy and @enddate > EndOccupy))
						and (F_REF not in (select dbo.fnFormatStringForSqlInClause(@excList,','))))
	end

	If @result > 0 set @result = 0
	else set @result = 1

	-- Return the result of the function
	RETURN @Result

END