SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================
-- Author:		Mark Birch
-- ALTER  date: 19-APR-2011
-- Description:	To return a Key Value
-- Passed: Source, Section, Key
-- Returns: Varchar(1000)
-- =============================================
create FUNCTION [dbo].[uf_xCABS_CONFIG_ReadString]
	-- Add the parameters for the stored procedure here
(		@SOURCE VARCHAR(1000),
	@SECTION VARCHAR(1000),
	@KEY VARCHAR(1000)
)
RETURNS Varchar(1000)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		
	DECLARE @RETURN VARCHAR(1000)
	SET @RETURN = ''

/*******************************************************************
	CHECK IF THERE ARE ANY USER SETTINGS
	IF THERE ARE SET @RETURN TO THE USER VALUE 
********************************************************************/
IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE [SOURCE] = @SOURCE AND SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'U' AND NOT [DELETED] = 1) > 0
BEGIN 	
	--User
	SET @RETURN = (SELECT VALUE FROM xCABS_CONFIG_TABLE WHERE [SOURCE] = @SOURCE AND SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'U' AND NOT [DELETED] = 1)
END
ELSE 
/*******************************************************************
	THERE ARE NO USER SETTINGS
	CHECK IF THERE ARE ANY LOCALE SETTINGS
	IF THERE ARE SET @RETURN TO THE LOCALE VALUE 
********************************************************************/
	IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE [SOURCE] = @SOURCE AND SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'U' AND NOT [DELETED] = 1) = 0	
	BEGIN
		IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE [SOURCE] = @SOURCE AND SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'L' AND NOT [DELETED] = 1) > 0	
		BEGIN
			--Locale
			SET @RETURN = (SELECT VALUE FROM xCABS_CONFIG_TABLE WHERE [SOURCE] = @SOURCE AND SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'L' AND NOT [DELETED] = 1)
		END
		ELSE
/*******************************************************************
	THERE ARE NO LOCALE SETTINGS
	CHECK IF THERE ARE ANY GLOBAL SETTINGS
	IF THERE ARE SET @RETURN TO THE GLOBAL VALUE 
********************************************************************/		
		IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE [SOURCE] = @SOURCE AND SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'L' AND NOT [DELETED] = 1) = 0		
		BEGIN
			IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'G' AND NOT [DELETED] = 1) > 0
			BEGIN
				--Global
				SET @RETURN = (SELECT VALUE FROM xCABS_CONFIG_TABLE WHERE SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'G' AND NOT [DELETED] = 1)	
			END	
			ELSE
/*******************************************************************
	THERE ARE NO GLOBAL SETTINGS
	CHECK IF THERE ARE ANY SQL SETTINGS
	IF THERE ARE SET @RETURN TO THE SQL VALUE 
********************************************************************/	
			IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE [SOURCE] = @SOURCE AND SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'G' AND NOT [DELETED] = 1) = 0		
			BEGIN
			IF (SELECT COUNT(*) FROM xCABS_CONFIG_TABLE WHERE SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'S' AND NOT [DELETED] = 1) > 0
			BEGIN
				--SQL
				SET @RETURN = (SELECT VALUE FROM xCABS_CONFIG_TABLE WHERE SECTION = @SECTION AND [KEY] = @KEY AND [TYPE] = 'S' AND NOT [DELETED] = 1)	
			END	
		END
		END
	END
/*******************************************************************
	RETURN THE VALUE
********************************************************************/		
	RETURN COALESCE(@RETURN, '')
END