USE [PWC_OZ_LIVE_V7]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddInternalVisitor]    Script Date: 25/10/2016 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Corey Bradford
-- Create date: 21/09/2016
-- Description:	Adds internal visitor to INTVIS table
-- Version:		2
-- Updates:
-- 25/10/2016:	2 - Added check to see if visitor is already added to booking
-- Error Codes:
-- 0x00:		Success
-- 0x01:		Visitor already added to booking
-- =============================================

ALTER PROCEDURE [dbo].[usp_AddInternalVisitor]
	-- Add the parameters for the stored procedure here
	@BookingRef VARCHAR(7), 
	@VisitorMbr VARCHAR(7),
	@ErrorCode INT OUT
AS
BEGIN
	SET @ErrorCode = 0

	IF EXISTS(
		SELECT *
		FROM INTVIS
		WHERE IV_FUNCREF = @BookingRef
			AND IV_ATTMBR = @VisitorMbr
	)
	BEGIN
		SET @ErrorCode = 0x01
		RETURN
	END

	INSERT INTO INTVIS
	SELECT F_DAY, F_MBR_NO, @BookingRef, @VisitorMbr
	FROM FUNC_FIL
	WHERE F_REF = @BookingRef
END