SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:           Peter Green
-- Create date: 25th Sept 2015 from original of 3rd Feb 2014
-- Description:      Returns a list of all available rooms that meet a set of criteria.  
--                         It can be used for populating a list or a display of those rooms / room uses
--                          It is passed time in UTC
-- Amended:          31st Mar 2014
--        :          6th Oct removed double weighting of use    
-- This assumes that 
-- 1.  CABS Timeszones are ON
-- 2.  the time passed to the function is UTC and 
-- 3.  that the booking will be made in UTC 
-- Default for room layout is ANY
-- Default for Location is ALL
-- =============================================
CREATE FUNCTION [dbo].[utf_Outlook_find_available_roomsTZ] 
(
       -- Add the parameters for the function here
         @start datetime, -- this should be the full date and time in UTC
         @end datetime,   -- this should be the full date and time in UTC
         @loc_code varchar(6)='ALL',
         @room_use varchar(50)='ANY',
--       @start_time varchar(5)='00:01',
--       @end_time varchar(5)='23:59',
         @covers int = 1,
         @TZBias decimal (4,2)=0.00,
		 @user Varchar(100) = ''
)
RETURNS 
@FoundRooms TABLE 
(
       -- Add the column definitions for the TABLE variable here
       RoomScore   Decimal(5,2),
       RoomCode Varchar(10),
       RoomName Varchar(100), 
       UseCode  VARCHAR(10),
       UseDescription Varchar(50),
       US_MIN int,
       US_Max int,
       Covers int,
       LOCN_START_TIME datetime,
       LOCN_END_TIME datetime,
       UTC_START_TIME datetime,
       UTC_END_TIME datetime,
       LOCAL_START_TIME datetime,
       LOCAL_END_TIME datetime,
       LocMatch Varchar(50),
       ActualLoc Varchar(10),
       Location Varchar(50),
       SizeFit Varchar(50),
       UseMatch Varchar(50),
       Occupancy Decimal(8,4)
)
AS
BEGIN
       -- Fill the table variable with the rows for your result set
       Declare @RmUsCode Varchar(10)
       Declare @startRange Datetime
       Declare @EndRange Datetime
       Declare @HoursOFfset Integer
       Declare @MinsOffset Integer
       Declare @LocalStart Datetime
       Declare @LocalEnd Datetime
	   


       set @HoursOFfset = Cast(Round(@TZBias,0) as Int)
       set @MinsOffset = Cast(Round(60*(@TZBias-@HoursOFfset),0) as Int)
       set @LocalStart = Dateadd(MINUTE,@MinsOffset,Dateadd(hh,@HoursOffset,@start))
       set @LocalEnd = Dateadd(MINUTE,@MinsOffset,Dateadd(hh,@HoursOffset,@end))
       -- this will not work if crosses a timechange but is for info only can sort out later

       --Set @startRAnge = DateAdd(hh,Cast(Left(@start_time,2) as Int),@start_day)
       --Set @startRAnge = DateAdd(MINUTE,Cast(Right(@start_time,2) as int),@startrange)
       Set @startRange = @Start
       Set @endRange = @End
       --Set @EndRange = DateAdd(hh,Cast(Left(@end_time,2) as int),@end_day)
       --Set @EndRange = DateAdd(MINUTE,Cast(Right(@end_time,2) as int),@Endrange)

       if (isnull(@Room_use,'') = '' or  @room_use = 'ANY') begin
              set @RmUsCode = 'ANY'
       end
       else begin
              Set @RmUsCode = (select ST_Code from Sys_Abbr where ST_Desc = @room_use and ST_TYPE ='RUS')
       end


       Insert into @FoundRooms
Select  TOP 50 /*(Cast((case US_MAX 
                           when 0 then 1.5*Cast(SUBSTRING(LocMatch,1,3) as int) + 100*RoomHasRequestedUse +Cast(SUBSTRING(RoomFit,1,3) as Int)  --+Cast(SUBSTRING(UseMatch,1,3) as Int)  
                           else (case 
                                    when (@covers/Cast(US_MAX as decimal)) > 1.3 then 0 
                                    else 1.5*Cast(SUBSTRING(LocMatch,1,3) as int) + 100*RoomHasRequestedUse +Cast(SUBSTRING(RoomFit,1,3) as Int) --+ Cast(SUBSTRING(UseMatch,1,3) as Int) 
                                     end) end) as Decimal)/350.00)*/ 
			  dbo.uf_OutlookRoomScore(@RmUsCode, @loc_code, @Covers , RM_ABBR , @user) as  RoomScore,
              RM_ABBR as RoomCode,
              RM_NAME as RoomNAme,
              US_RM_USE as UseCode,
              UseDescription,
              US_MIN,
              US_MAX,
              Coversrequired,
--            Cast((Cast(Datepart(hh,@StartRange) as Varchar(2)) + ':' + Case Len(Cast(Datepart(MINUTE,@StartRange) as Varchar(2))) when 1 then ('0' + Cast(Datepart(MINUTE,@StartRange) as Varchar(2))) else Cast(Datepart(MINUTE,@StartRange) as Varchar(2)) end ) as VArchar(5)) as StartDateTime, 
--            Cast((Cast(Datepart(hh,@EndRange) as Varchar(2)) + ':' + Case Len(Cast(Datepart(MINUTE,@Endrange) as Varchar(2))) when 1 then ('0' + Cast(Datepart(MINUTE,@Endrange) as Varchar(2))) else Cast(Datepart(MINUTE,@Endrange) as Varchar(2))end ) as VArchar(5)) as EndDateTime, 
              dbo.uf_getLocalDateTime(ActualLoc,@StartRange) as LocalStartDateTime,  --LOCN_START_TIME Varchar(5),
              dbo.uf_getLocalDateTime(ActualLoc,@EndRange) as LocalEndDateTime,  --LOCN_END_TIME Varchar(5),
              @StartRange as UTCStartTime,  --UTC_START_TIME Varchar(5),
              @EndRAnge as UTCEndTime,   --UTC_END_TIME Varchar(5),
              @LocalStart, --LOCAL_START_TIME Varchar(5),
              @LocalEnd,   --LOCAL_END_TIME Varchar(5),
              Substring(LocMatch,5,Len(LocMatch)-4) as LocMatch, 
              ActualLoc, 
              Location, 
              SUBSTRING(RoomFit,5,Len(RoomFit)-4) as RoomFit, 
              SUBSTRING(UseMatch,5,Len(UseMatch)-4) as UseMatch, 
              occupancy
from   (select
                     RM_ABBR, RM_NAME, 
                      US_RM_USE, rus.ST_DESC as UseDescription,
                     US_MIN,
                     US_MAX,
                     @covers as CoversRequired,
                     @startRange as StartTimeRequested,
                     @endrange as EndTimeRequested,
                       ( case when RM_LOC = @loc_code then '100 Location Match'
                                           when @loc_code = 'ANY' then '100 Location Match'
                                           else '000 Location mismatch' end) as LocMatch, 
                     RM_LOC as ActualLoc, loc.ST_Desc as Location,
                     dbo.uf_roomhasuse(RM_ABBR,@rmuscode) as RoomHasRequestedUse,  -- this is 1 or 0
                     (case when (@rmuscode = US_RM_USE) then '100 Use Match' 
                             else '000 Use Mismatch' end) as UseMatch,
                     dbo.uf_OutlookRoomFit(@covers,RM_ABBR,uS_RM_USE) as RoomFit,
                     (Case US_MAX when 0 then 100.00 else (100.00 * @covers/US_MAX ) end) as occupancy
                     from ROOMS inner join RM_USE
                     on RM_ABBR = US_RM_CODE and US_RM_USE <> 'OFFRM' and US_RM_USE <> 'SET UP'
                     inner join sys_abbr rus on rus.ST_CODE = US_RM_USE and rus.ST_TYPE='RUS'
                     inner join sys_abbr loc on loc.ST_CODE = RM_LOC and loc.ST_TYPE = 'LOC'
                           where RM_ABBR <> 'DUMMY' and 
       /*             not contains( RM_ABBR, 'DMY') and  */
                           not RM_ABBR like '%DMY%' and 
                            (dbo.uf_isRoomFree(RM_ABBR, @StartRange, @endRAnge, '')=1)) as TempRooms 
                         --   where Cast(SUBSTRING(RoomFit,1,3) as Int) > 50
                           order by RoomScore Desc, Occupancy Desc, RM_ABBR

--                   order by MatchPerc DESC, US_MIN, US_MAX   /* find closest match to room covers */

/*                         not RM_ABBR in (select F_ROOM from FUNC_FIL, ROOMS rm 
                                                       where F_DAY = @book_day 
                                                       and F_START < @end_time and F_END > @start_time 
                                                       and F_ROOM = rm.RM_ABBR and rm.RM_LOC = @loc_code) */
       RETURN 
END