-- *****************************************************************************
-- WHEN UPDATING THIS FILE DO NOT FORGET TO UPDATE THE VERSION NUMBER IN BOTH 
-- THE FILE HEADER AND THE EXTENDED PROPERTIES SETION AT THE BOTTOM OF THIS FILE
-- *****************************************************************************

DECLARE @FileName VARCHAR(100)
DECLARE @Func_Name VARCHAR(100)
SET @FileName = 'FuncValue'
SET @Func_Name = 'FuncValue'
IF EXISTS (SELECT name FROM sys.objects WHERE name = 'FuncValue')
BEGIN
	DROP FUNCTION [dbo].FuncValue
	PRINT @FileName + ': Dropped Function ' + @Func_Name
END
ELSE
BEGIN
	PRINT @FileName + ': ' + @Func_Name + ' -  Does Not Already Exist !'
END
PRINT @FileName + ': Creating Function ' + @Func_Name
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- ===================================================================================
-- Author:		Peter Green
-- Create date: xx/xx/xxxx
-- Description:	Returns the total value for a function of items that have not yet been 
--				posted
-- ===================================================================================
-- Version: 1
-- Date: xx/xx/xxxx
-- ===================================================================================
-- Changes: xx/xx/xxxx: PLG: Original Version
-- ===================================================================================
CREATE FUNCTION [dbo].[FuncValue]  (@FuncNo varchar(7))
RETURNS money
AS
BEGIN
	DECLARE @FuncValue Money
		
	SET @FuncValue = 0
		
	-- FUNCTION CHARGE
	SET @FuncValue = @FuncValue + 
		( SELECT ISNULL(sum(F_RM_CHG), 0)
			FROM FUNC_FIL
		WHERE F_REF = @FuncNo
			AND F_RM_CHG <> 0
			AND F_CUT <> 1
			AND F_OFFRM <> 1
			AND F_POSTED = 0
			AND ( F_OWNER IS NULL
				OR F_OWNER = ''
				OR F_OWNER = F_REF ) )

	-- EXTRAS CHARGES
	SET @FuncValue = @FuncValue +
 		( SELECT ISNULL(sum(AI_COVERS * AI_CHARGE), 0)
			FROM FUNC_FIL, AI_FILE, POST_DEF
		WHERE AI_FREF = @FuncNo
			AND AI_FREF = F_REF
			AND P_CODE = AI_CODE
			AND AI_CHARGE <> 0
			AND AI_POSTED = 0
			AND NOT ( P_COSTCENT = 'CCPAID' ) )

	-- PACKAGE CHARGES
	SET @FuncValue = @FuncValue +
 		( SELECT ISNULL(sum(PH_PRICE * PH_COVERS), 0)
			FROM FUNC_FIL, PKGHEAD
		WHERE PH_OWNER = @FuncNo
			AND F_REF    = PH_OWNER 
			AND PH_POSTED = 0 )

	-- MENU CHARGES
	SET @FuncValue = @FuncValue +
 		( SELECT ISNULL(sum(MNM_PRICE), 0)
			FROM FUNC_FIL, MASTMENU
		WHERE MNM_OWNER = @FuncNo
			AND MNM_OWNER = F_REF
			AND MNM_PRICE <> 0
			AND MNM_POSTED = 0 )

	RETURN(@FuncValue)

END
GO
PRINT '*****************************************************************************'								   
PRINT 'FuncValue: Creating Extended Properties'

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [FuncValue]
							   ,@name = N'Product' 
							   ,@value = N'CABS'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('FuncValue') AND [name] = 'Product')
BEGIN		
	PRINT 'FuncValue: Product Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'FuncValue: Product Extended Property Not Created Successfully !'
END	

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [FuncValue]
							   ,@name = N'Module' 
							   ,@value = N'Core'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('FuncValue') AND [name] = 'Module')
BEGIN		
	PRINT 'FuncValue: Module Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'FuncValue: Module Extended Property Not Created Successfully !'
END			

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [FuncValue]
							   ,@name = N'Version' 
							   ,@value = N'1.0'
								   
IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('FuncValue') AND [name] = 'Version')
BEGIN		
	PRINT 'FuncValue: Version Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'FuncValue: Version Extended Propety Not Created Successfully !'
END
							   
PRINT '*****************************************************************************'								   
GO