-- *****************************************************************************
-- WHEN UPDATING THIS FILE DO NOT FORGET TO UPDATE THE VERSION NUMBER IN BOTH 
-- THE FILE HEADER AND THE EXTENDED PROPERTIES SETION AT THE BOTTOM OF THIS FILE
-- *****************************************************************************

DECLARE @FileName VARCHAR(100)
DECLARE @Func_Name VARCHAR(100)
SET @FileName = 'uf_getMBR_Internal'
SET @Func_Name = 'uf_getMBR_Internal'

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[uf_getMBR_Internal]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
    DROP FUNCTION [dbo].[uf_getMBR_Internal]
	PRINT @FileName + ': Dropped Function ' + @Func_Name
END
ELSE
BEGIN
	PRINT @FileName + ': ' + @Func_Name + ' -  Does Not Already Exist !'
END
PRINT @FileName + ': Creating Function ' + @Func_Name
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mark Birch
-- Create date: 02-JAN-2014
-- Description:	Gets Internal Value
-- =============================================
CREATE FUNCTION [dbo].[uf_getMBR_Internal] 
(
	-- Add the parameters for the function here
	@REF VARCHAR(10)
)
RETURNS VARCHAR(1)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result VARCHAR(1)

	-- Add the T-SQL statements to compute the return value here
	IF LEFT(@REF, 1) = 'M' --is an MBR
	BEGIN
		Set @Result = (SELECT CASE MBR_INTERN WHEN 1 THEN 'I' WHEN 0 THEN 'E' END FROM MBRFILE WHERE MBR_SYSNO = @REF)
	END

	IF LEFT(@REF, 1) = 'F' --is a Function
	BEGIN
		Set @Result = (SELECT CASE F_INTERN WHEN 1 THEN 'I' WHEN 0 THEN 'E' END FROM FUNC_FIL WHERE F_REF = @REF)
	END
	
	-- Return the result of the function
	RETURN @Result

END
GO

PRINT '*****************************************************************************'								   
PRINT 'uf_getMBR_Internal: Creating Extended Properties'

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_getMBR_Internal]
							   ,@name = N'Product' 
							   ,@value = N'CABS'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_getMBR_Internal') AND [name] = 'Product')
BEGIN		
	PRINT 'uf_getMBR_Internal: Product Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_getMBR_Internal: Product Extended Property Not Created Successfully !'
END	

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_getMBR_Internal]
							   ,@name = N'Module' 
							   ,@value = N'Core'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_getMBR_Internal') AND [name] = 'Module')
BEGIN		
	PRINT 'uf_getMBR_Internal: Module Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_getMBR_Internal: Module Extended Property Not Created Successfully !'
END			

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_getMBR_Internal]
							   ,@name = N'Version' 
							   ,@value = N'1.0'
								   
IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_getMBR_Internal') AND [name] = 'Version')
BEGIN		
	PRINT 'uf_getMBR_Internal: Version Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_getMBR_Internal: Version Extended Propety Not Created Successfully !'
END
							   
PRINT '*****************************************************************************'								   
GO