-- *****************************************************************************
-- WHEN UPDATING THIS FILE DO NOT FORGET TO UPDATE THE VERSION NUMBER IN BOTH 
-- THE FILE HEADER AND THE EXTENDED PROPERTIES SETION AT THE BOTTOM OF THIS FILE
-- *****************************************************************************

DECLARE @FileName VARCHAR(100)
DECLARE @Func_Name VARCHAR(100)
SET @FileName = 'uf_GetMBRName'
SET @Func_Name = 'uf_GetMBRName'

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[uf_GetMBRName]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
    DROP FUNCTION [dbo].[uf_GetMBRName]
	PRINT @FileName + ': Dropped Function ' + @Func_Name
END
ELSE
BEGIN
	PRINT @FileName + ': ' + @Func_Name + ' -  Does Not Already Exist !'
END
PRINT @FileName + ': Creating Function ' + @Func_Name
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================================================
-- Author:		Peter Green
-- Create date: 24/09/2015
-- Description:	Returns the MBR NAME (for use in FUNC_FIL)
-- =====================================================================================================--
-- Version:		4
-- Date:		01/12/2016
-- =====================================================================================================
-- Changes:		PLG: 24/09/2015: Original Version
--	(1)
-- Changes:		PLG: 08/10/2016: Amended to test for 'Salutation' in test data and ignore if there
--  (2)
-- Changes:		PLG: 02/11/2016: Put further error checks in in case wrongly called
--  (3)
-- Changes:		PLG: 29/11/2016: Added lookup if not passed an internal flag parameter
--	(4)							 Added ability to lookup host from f_Ref
-- Changes:		TT : 01/12/2016: Changed Type settings to be 1 when Internal and 0 when external
-- =====================================================================================================

CREATE FUNCTION [dbo].[uf_GetMBRName]
(
	-- Add the parameters for the function here
	@MBR_SYSNO Varchar(7),
	@Type Int = NULL -- 1 for internal 1 for external
)
RETURNS Varchar(100)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @MBRName Varchar(100)
	
	if SUBSTRING(@MBR_SYSNO,1,1) = 'F' begin  -- we have been passed a function ref
		set @MBR_SYSNO = (select F_MBR_NO from FUNC_FIL where F_REF = @MBR_SYSNO)
	end
	if @Type is NULL begin
		-- Changed by TT - 01/12/2016
		--set @type = (select Case (Select dbo.uf_getMBR_Internal(@MBR_SYSNO)) when 'I' then 0 else 1 end)
		set @type = (select Case (Select dbo.uf_getMBR_Internal(@MBR_SYSNO)) when 'I' then 1 else 0 end)
	end
	-- Add the T-SQL statements to compute the return value here
	if @Type = 0 begin
		SET @MBRName = (Select Top 1 REPLACE(MBR_CMPNAM, CHAR(39), CHAR(146)) from MBRFile where MBR_SYSNO = @MBR_SYSNO)		
	end
	else begin
		SET @MBRName = (Select Top 1  ISNULL(REPLACE(MBR_CMPNAM, CHAR(39), CHAR(146)),'') + ',' + 
									  ISNULL(REPLACE(MBR_ADDR1, CHAR(39), CHAR(146)),'') + 									   
									  Case MBR_Salut when 'Salutation' then '' 
													 else ',' + ISNULL(REPLACE(MBR_ADDR1, CHAR(39), CHAR(146)),'') 
									  end as MBRNAME  
						from MBRFile where MBR_SYSNO = @MBR_SYSNO)
	end
	set @MBRName = COALESCE(@MBRName, 'No MBR Record or No Name')
	-- Return the result of the function
	RETURN @MBRName

END
GO

PRINT '*****************************************************************************'								   
PRINT 'uf_GetMBRName: Creating Extended Properties'

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_GetMBRName]
							   ,@name = N'Product' 
							   ,@value = N'CABS'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_GetMBRName') AND [name] = 'Product')
BEGIN		
	PRINT 'uf_GetMBRName: Product Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_GetMBRName: Product Extended Property Not Created Successfully !'
END	

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_GetMBRName]
							   ,@name = N'Module' 
							   ,@value = N'Core'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_GetMBRName') AND [name] = 'Module')
BEGIN		
	PRINT 'uf_GetMBRName: Module Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_GetMBRName: Module Extended Property Not Created Successfully !'
END			

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_GetMBRName]
							   ,@name = N'Version' 
							   ,@value = N'4.0'
								   
IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_GetMBRName') AND [name] = 'Version')
BEGIN		
	PRINT 'uf_GetMBRName: Version Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_GetMBRName: Version Extended Propety Not Created Successfully !'
END
							   
PRINT '*****************************************************************************'								   
GO