if exists (select * from dbo.sysobjects where id = object_id(N'[cabs_check_av_rest]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
	DROP PROCEDURE [cabs_check_av_rest]
END
GO

-- =============================================
-- Author: Mark Birch
-- Script Name: cabs_check_av_rest.sql
-- Create date: 11-MAY-2016
-- Description:	CABS AV Check for Restaurant Bookings
-- =============================================
-- Usage : Run through SQL Query Analyser
-- Error Handling : None Expected
-- =============================================
-- Version: 1
-- Date: 11/05/2016
-- =============================================
-- Changes: dd/mm/yyyy: XXX: 
-- =============================================
CREATE PROCEDURE [cabs_check_av_rest]
(	
	@Book_StartDateTime DATETIME,
	@Book_EndDateTime DATETIME,
	@Book_Rest VARCHAR(15),
	@Book_Sess VARCHAR(6),
	@Covers DECIMAL (10, 4)
)	
AS
BEGIN
	DECLARE @Return_Result  SMALLINT /* < 0 denotes failure */
	SET @Return_Result = 0 -- default to error

	DECLARE @MaxCovers DECIMAL (10, 4), @BookedCovers DECIMAL (10, 4), @SpaceRemaining DECIMAL (10, 4) 
	SET @MaxCovers = (SELECT COALESCE(US_MAX, 0) FROM RM_USE WHERE US_RM_CODE = @Book_Rest AND US_RM_USE = @Book_Sess)
	SET @BookedCovers = (SELECT	COALESCE(SUM(F_PAX_ACT), 0)
							FROM FUNC_FIL
							WHERE F_ROOM = @Book_Rest 
							AND F_USE = @Book_Sess 
							AND F_STARTDATETIME < @Book_EndDateTime
							AND F_ENDDATETIME > @Book_StartDateTime
							AND F_REST = 'Yes'
							AND F_STATUS <> 'CANCEL'
							AND F_CUT = 0)
	SET @SpaceRemaining = (@MaxCovers - @BookedCovers)

	IF @Covers <= @SpaceRemaining BEGIN
		SET @Return_Result = 1
	END
	ELSE
	IF @Covers > @SpaceRemaining BEGIN
		SET @Return_Result = 0
	END

	RETURN @Return_Result /* return -1 for availablitiy not clear, and 1 for availability OK */
END
GO

