if exists (select * from dbo.sysobjects where id = object_id(N'[cabs_book_room_rest]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
	DROP PROCEDURE [cabs_book_room_rest]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[cabs_book_room_rest](
						@Date datetime,
						@StartDateTime datetime,
						@EndDateTime datetime,
						@RestCode varchar(6), 
						@SessCode varchar(6),
						@mbrno varchar(7), 
						@covers decimal (10, 4), 
						@start varchar(5),
						@end varchar(5), 
						@Prikey VARCHAR(10),
						@Funcref varchar(7) OUTPUT, 
						@Result int OUTPUT )
-- =============================================
-- Author: Mark Birch
-- Script Name: cabs_book_room_rest.sql
-- Create date: 11-MAY-2016
-- Description:	Create Restaurant Booking for Global Extras (Rest)
-- =============================================
-- Usage : Run through SQL Query Analyser
-- Error Handling : None Expected
-- =============================================
-- Version: 1
-- Date: 11/05/2016
-- =============================================
-- Changes: dd/mm/yyyy: XXX: 
-- =============================================

AS
BEGIN
	SELECT @Result = 0

	DECLARE @Internal INT, @MBRName VARCHAR (100)
	SET @Internal = (SELECT COALESCE(MBR_INTERN, 0) FROM MBRFILE WHERE MBR_SYSNO = @mbrno) 
	SET @MBRName = (SELECT [dbo].[CABS_MBR_Name] (@mbrno))

	EXEC cabs_get_next_booking_num @Funcref OUTPUT /* Get new booking number */

	IF datalength(@Funcref) = 7 and @@error = 0 BEGIN
		SELECT @result = 1
	END

	IF @Result = 1 BEGIN
		INSERT INTO FUNC_FIL			
		(
			F_REF, F_ROOM, F_RM_CHG, F_DAY, F_START, F_END, F_USE, F_STATUS,
			F_MBR_NO, F_PAX_GTD, F_PAX_ACT, F_PAX_MIN, F_OPID, F_OWNER,
			F_VATCODE, F_POSTED, F_SITDOWN, F_PKG, F_ACT, F_DATESTMP, F_CBACK, F_CREDIT,
			F_COMMENT, F_TICKET, F_FORECAST, F_INPROG, F_FINISHED, F_MATTER,
			F_SETUP, F_BDOWN, F_INTERN, F_MBR_NAME, F_LOCKED, F_SESSNO,
			F_CUT, F_OFFRM, F_SOLEUSE, F_REST, F_BOOKER, F_CANPOST,
			F_STARTDATETIME,F_ENDDATETIME, F_RMGIVEN, F_CREATEDATE, F_CLIENTFUNC
		)
		VALUES
		(
			@Funcref, @RestCode, 0.00, @Date, @start, @end, @SessCode, 'CONFRM',
			@mbrno, 0.0, @covers, 0.0, 'sa', NULL,
			2, 0, '00:00', '', 0, GETDATE(), '', '',
			('Booked From Global Extra: ' + @Prikey), 0, 0, 0, 0, '',
			'00:00', '00:00', @Internal, @MBRName, 0, '',
			0, 0, 'No', 'Yes', '', 'Yes',
			@StartDateTime, @EndDateTime, 'No', GETDATE(), 0
		)
	END

	IF @@error = 0
		SELECT @Result = 1
	ELSE
		SELECT @Result = 0
END
GO






