IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[uf_GetMBRName]') AND ([type]='IF' OR [type]='FN' OR [type]='TF')))
DROP FUNCTION [dbo].[uf_GetMBRName]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Peter Green
-- Create date: 24/9/15
-- Description:	returns the MBR NAMe (for use in func_fil)
--				8th Oct PLG amended to test for 'Salutation' in test data and ignore if there
--				2nd Nov PLG put further error checks in in case wrongly called
-- =============================================
CREATE FUNCTION [dbo].[uf_GetMBRName]
(
	-- Add the parameters for the function here
	@MBR_SYSNO Varchar(7),
	@Type Int = 0 -- 0 for internal 1 for external
)
RETURNS Varchar(100)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @MBRNAme Varchar(100)
	
	if @Type is NULL set @type = 0

	-- Add the T-SQL statements to compute the return value here
	if @Type = 1 begin
		SET @MBRName = (Select Top 1 MBR_CMPNAM from MBRFile where MBR_SYSNO = @MBR_SYSNO)
	end
	else begin
		SET @MBRNAme = (Select Top 1  (isnull(Replace(MBR_CMPNAM,'''','"'),'') + ',' + isnull(MBR_ADDR1,'') + (Case MBR_Salut when 'Salutation' then '' else (',' + isnull(MBR_Salut,'')) end)) as MBRNAME  from MBRFile where MBR_SYSNO = @MBR_SYSNO)
	end
	set @MBRName = COALESCE(@MBRNAme, 'No MBR Record or No Name')
	-- Return the result of the function
	RETURN @MBRNAme

END




GO