
-- *****************************************************************************
-- WHEN UPDATING THIS FILE DO NOT FORGET TO UPDATE THE VERSION NUMBER IN BOTH 
-- THE FILE HEADER AND THE EXTENDED PROPERTIES SETION AT THE BOTTOM OF THIS FILE
-- *****************************************************************************

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

PRINT '*****************************************************************************'

IF EXISTS ( SELECT * FROM   sysobjects 
			WHERE  id = object_id(N'[dbo].[uf_MBRHasBookings]')) 					
BEGIN
	DROP FUNCTION [dbo].[uf_MBRHasBookings]	
	PRINT 'uf_MBRHasBookings: Dropped Function uf_MBRHasBookings'
END
ELSE
BEGIN	
	PRINT 'uf_MBRHasBookings: uf_MBRHasBookings -  Does Not Already Exist !'
END

PRINT 'uf_MBRHasBookings: Creating Function uf_MBRHasBookings'
GO

-- ====================================================================================================================
-- Author:		peter green				
-- Create Date:	02/01/2014
-- Description:	Checks whether an MBR has any bookings
-- Product:		CABS
-- Module:		CORE
-- Parameters:	MBRSYSNO
-- Returns:		bit
-- Switches:	None
-- Test:		Select an MBR with bookings and one without and call the function check whether results are right
-- Called By:	
-- Calls:		
-- ====================================================================================================================
-- Version:		1.0
-- Date:		02/01/2014
-- ====================================================================================================================
-- Changes (1.0): plg: 02/01/2014: Original Version
-- ====================================================================================================================
CREATE FUNCTION uf_MBRHasBookings 
(
	-- Add the parameters for the function here
	@MBRNO Varchar(10) = '',
	@RangeStart DATETIME,
	@RangeEnd DATETIME,
	@IncludeCancelled BIT
)
RETURNS bit
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result bit
	Declare @FunctionCount Int
	-- Add the T-SQL statements to compute the return value here
	-- Check functions and restaurants in one check
	SET @FunctionCount = (Select Count(F_REF) from Func_fil where F_MBR_NO =  @MBRNO AND dbo.uf_ShouldCopyFunctionOrRestaurant(@RangeStart, @RangeEnd, @IncludeCancelled, CASE ISNULL(F_REST, 'No') WHEN 'No' THEN 1 ELSE 0 END, F_STARTDATETIME, F_ENDDATETIME, F_REST, F_STATUS) = 1)

	if @FunctionCount > 0 set @Result = 1
	else begin
		set @FunctionCount = (Select count(BL_HARD) from blocking where BL_MBR = @MBRNO AND dbo.uf_ShouldCopyBlockingOrGlobalExtraOrPackage(@RangeStart, @RangeEnd, @IncludeCancelled, BL_DATE, BL_TO, BL_SOFT + BL_HARD) = 1)
		if @FunctionCount > 0 set @Result = 1
		else begin
			-- do we need to check delivery? as we're not copying anything from that table
			--set @FunctionCount = (Select Count(LCS_COVERS) from delivery where LCS_HOST = @MBRNO AND LCS_COVERS > 0)
			--if @FunctionCount > 0 set @Result = 1
			--else begin
				set @FunctionCount = (Select Count(AI_COVERS) from AI_FILE where AI_PRIKEY = @MBRNO AND dbo.uf_ShouldCopyBlockingOrGlobalExtraOrPackage(@RangeStart, @RangeEnd, @IncludeCancelled, AI_STARTDATETIME, AI_ENDDATETIME, AI_COVERS) = 1)
				if @FunctionCount > 0 set @Result = 1
				else begin
					set @FunctionCount = (Select Count(PH_COVERS) from PKGHEAD where PH_OWNER = @MBRNO AND dbo.uf_ShouldCopyBlockingOrGlobalExtraOrPackage(@RangeStart, @RangeEnd, @IncludeCancelled, PH_FROM, PH_TO, PH_COVERS) = 1)
					if @FunctionCount > 0 set @Result = 1
					else begin
						set @result = 0
					end
				end
			--end

			-- do we need to check packages?
		end
	end
		
	-- Return the result of the function
	RETURN @Result
END
GO

IF EXISTS ( SELECT * FROM   sysobjects 
			WHERE  id = object_id(N'[dbo].[uf_MBRHasBookings]'))
BEGIN	
	PRINT 'uf_MBRHasBookings: uf_MBRHasBookings Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_MBRHasBookings: uf_MBRHasBookings Not Created Successfully !'	
END

PRINT '*****************************************************************************'
GO

-- Set Extended Properties - Added - TT - 14/03/2017

PRINT 'uf_MBRHasBookings: Creating Extended Properties'

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_MBRHasBookings]
							   ,@name = N'Product' 
							   ,@value = N'CABS'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_MBRHasBookings') AND [name] = 'Product')
BEGIN		
	PRINT 'uf_MBRHasBookings: Product Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_MBRHasBookings: Product Extended Property Not Created Successfully !'
END	

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_MBRHasBookings]
							   ,@name = N'Module' 
							   ,@value = N'CORE'

IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_MBRHasBookings') AND [name] = 'Module')
BEGIN		
	PRINT 'uf_MBRHasBookings: Module Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_MBRHasBookings: Module Extended Property Not Created Successfully !'
END			

EXEC sys.sp_addextendedproperty @level0type = N'SCHEMA' 
							   ,@level0name = [dbo] 
							   ,@level1type = N'FUNCTION' 
							   ,@level1name = [uf_MBRHasBookings]
							   ,@name = N'Version' 
							   ,@value = N'1.0'
								   
IF EXISTS (SELECT NULL FROM sys.extended_properties where [major_id] = OBJECT_ID('uf_MBRHasBookings') AND [name] = 'Version')
BEGIN		
	PRINT 'uf_MBRHasBookings: Version Extended Property Created Successfully'
END
ELSE
BEGIN
	PRINT 'uf_MBRHasBookings: Version Extended Propety Not Created Successfully !'
END
							   
PRINT '*****************************************************************************'								   
GO
