IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[usp_cabs_copy_Extra]') AND [type]='P'))
DROP PROCEDURE [dbo].[usp_cabs_copy_Extra]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 5th June 2016
-- Description:	Copies an extra to a new function (or MBR) date and time
--				currently assumes no timezone handling
-- =============================================
CREATE PROCEDURE [dbo].[usp_cabs_copy_Extra] 
	-- Add the parameters for the stored procedure here
	@AI_Prikey Varchar(10) = 0, 
	@NewOwner Varchar(10) = 0,
	@NewDate DateTime ,
	@NewPrikey varchar(10) OUTPUT,
	@OperatorId VARCHAR(31)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- Declare @NewPriKey varchar(10)
	Declare @AINO Int
	Declare @RC Varchar(500)
	Declare @Result Varchar(20)
    -- Insert statements for procedure here

		EXECUTE @AINO = [dbo].[cabs_get_next_num] 0
		EXECUTE @RC = [dbo].[cabs_format_system_no] 'A', @AINO, @result OUTPUT
		SET @NewPRIKEY = @result

INSERT INTO [dbo].[AI_FILE]
           ([AI_PRIKEY],[AI_FREF],[AI_CODE],[AI_TIME],[AI_TEXT],[AI_EDATE],[AI_COVERS],[AI_CHARGE]
           ,[AI_OPID],[AI_GEDATE],[AI_VATCODE],[AI_POSTED],[AI_RES],[AI_REQD],[AI_MONDATE]
           ,[AI_MONOP],[AI_LCS],[AI_ROOM],[AI_OPSHEET],[AI_LOCCODE],[AI_CREDIT],[AI_CHARGEBK]
           ,[AI_ENDTIME],[AI_CANPOST],[AI_STARTDATETIME],[AI_ENDDATETIME]
           ,[AI_COST],[AI_SRM_PRIKEY])
     SELECT  @NewPRIKEY, @NewOwner, AI_CODE, AI_TIME, '', getdate(),AI_COVERS, 
	 AI_CHARGE, @OperatorId, @NewDate, AI_VATCODE, 0, AI_RES, AI_REQD, NULL,NULL, AI_LCS, 
           AI_ROOM, AI_OPSHEET, AI_LOCCODE, AI_CREDIT, AI_CHARGEBK, AI_ENDTIME, 
           'NO', DATEADD(n, cast(substring(AI_TIME,4,2) as int), DATEADD(hh,cast(SUBSTRING(AI_TIME,1,2) as int),@NewDate)), 
		   DATEADD(n, cast(substring(AI_ENDTIME,4,2) as int),DATEADD(hh,cast(SUBSTRING(AI_ENDTIME,1,2) as int),@NewDate)), 
           AI_COST, AI_SRM_PRIKEY 
		   from AI_FILE where AI_PRIKEY = @AI_Prikey




	-- RETURN @NewPrikey
	--SELECT @AI_Prikey, @NewOwner
END


GO