IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[usp_cabs_copy_blockings]') AND [type]='P'))
DROP PROCEDURE [dbo].[usp_cabs_copy_blockings]
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Peter Green
-- Create date: 6th June 2016
-- Description:	Copy all Blockings in a date range from one MBR to Another
-- Changes:		changed to work with datediff not start date
--			    3rd March 2017 amended to uses mapping from xCABS_CONFIG_TABLE
-- =============================================
CREATE PROCEDURE [dbo].[usp_cabs_copy_blockings] 
	-- Add the parameters for the stored procedure here
	@OldMBR Varchar(10), 
	@NewMBR Varchar(10), 
	@startDate datetime, 
	@endDate datetime, 
--	@NewStartDate datetime, 
	@Datediff int,  -- above line changed to this parameter 17/10/2016
	@DOWFixed bit,
	@CopyRBtoExtra bit = 0, --PLG 3/11/2016 extra parameter to decide whether to copy Restaurant and Bedroom bookings to global extras
	@OperatorId VARCHAR(31),
	@IncludeCancelled BIT,
	@ClassCodes VARCHAR(MAX),
	@AccommodationCopied INT OUT,
	@Merging BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @Merging = 1
	BEGIN
		INSERT INTO #MBR_COPIER_MERGE_OUTPUT
		SELECT BL_MBR,
			MBR_CLIENT,
			MBR_CONTCT,
			@ClassCodes,
			MBR_EVENT,
			BL_SYSNO,
			CONVERT(VARCHAR(10), BL_DATE, 103),
			P_DESC,
			CONVERT(VARCHAR(10), BL_DATE, 103),
			CONVERT(VARCHAR(10), BL_TO, 103),
			BL_SOFT,
			'',
			''
		FROM BLOCKING
		LEFT JOIN MBRFILE
		ON MBR_SYSNO = BL_MBR
		LEFT JOIN POST_DEF
		ON P_CODE = BL_RTYPE
		WHERE BL_MBR = @NewMBR
			AND dbo.uf_ShouldCopyBlockingOrGlobalExtraOrPackage(BL_DATE, BL_TO, @IncludeCancelled, BL_DATE, BL_TO, BL_SOFT + BL_HARD) = 1
	END

	-- Amended on 25/08/2016 by ME and PLG
	-- Added @MBRStart and @MBREnd to ensure blockings are within MBR from and to.
	Declare @FRef Varchar(10)
--	PLG 17/10/2016  Declare @Datediff Int
	Declare @ThisDateDiff Int
	Declare @OldDay int
	DECLARE @RC int
	DECLARE @result varchar(10)
	DECLARE @AI_PRIKEY Varchar(15)

	DECLARE @block_from datetime
	DECLARE @Oldblockfrom datetime
	DECLARE @block_to datetime
	DECLARE @Oldblockto datetime
	DECLARE @block_rtype varchar(6)
	DECLARE @block_soft int
	DECLARE @block_hard int
	DECLARE @block_charge float
	DECLARE @block_id varchar(7)
	DECLARE @MBRStart datetime
	DECLARE @MBREnd datetime
	Declare @Extra_Date Datetime
	declare @Extra_code Varchar(10)
	declare @extra_Covers money

    -- Insert statements for procedure here
	-- PLG 17/10/16    Set @Datediff = DATEDIFF(dd,@startDate, @NewStartDate)
	select @MBrStart = MBR_FROM, @MBrEnd = MBR_TO from MBRFILE where MBR_SYSNO = @NewMBR

	DECLARE @OutputLog TABLE (REF VARCHAR(10))

	Declare BlockCur Cursor Fast_Forward for select BL_SYSNO, BL_DATE, BL_TO, BL_RTYPE, BL_SOFT, BL_HARD, BL_CHARGE from BLOCKING
	where BL_MBR =  @OldMBR 
		AND dbo.uf_ShouldCopyBlockingOrGlobalExtraOrPackage(@startDate, @endDate, @IncludeCancelled, BL_DATE, BL_TO, BL_SOFT + BL_HARD) = 1
	open BlockCur
	Fetch NExt from BlockCur into @FRef, @OldBlockFrom, @OldBlockTo,@block_rtype, @Block_soft, @block_hard, @block_charge
	While @@FETCH_STATUS = 0 begin
		-- check new date
		set @Block_From = DATEADD(dd,@Datediff,@OldBlockFrom)
		set @Block_To  = DATEADD(dd,@Datediff,@OldBlockTo)
		
		if @DOWFixed = 1 begin
			set @OldDay = DATEPART(dw,@OldBlockFrom)
			set @Block_From = dbo.uf_GetNextMatchingDate(@Block_From,@OldDay)
			set @ThisDateDiff = DATEDIFF(dd,@OldBlockFrom,@Block_From)
			set @Block_To = DATEADD(dd,@Thisdatediff,@OldBlockTo) -- PLG 27/2/2017 amened from Block_to
		end
		if @CopyRBtoExtra = 1 begin
			-- put code in here
			set @extra_date = @Block_From
			if exists (Select Top 1 Value from xCabs_Config_Table where Section = 'EnhancedMBRCopierMapping') begin
			-- section added 3-3-17 plg to allow flexibility in mapping
				set @Extra_Code = (SELECT [dbo].[uf_xCABS_CONFIG_ReadString] ('','EnhancedMBRCopierMapping',ltrim(rtrim(@Block_rtype)))) 
				if (@Extra_Code = '') set @Extra_Code = (SELECT [dbo].[uf_xCABS_CONFIG_ReadString] ('','EnhancedMBRCopierMapping','Other')) 
				if @Extra_Code = '' set @Extra_Code = @Block_rtype
			end
			Else Begin
				set @Extra_code = (Select Case @block_rtype 
					when 'RW' then 'ACDIS'								-- restricted access room
					when 'DOU' then 'ACSUP' when 'DTB37' then 'ACSUP'	-- Superior accomodation
					when 'DOUTS' then 'ACTR' when 'DTB' then 'ACTR'		-- Twin Room
					else 'ACSB' end)									-- Single room
			end
			set @extra_covers = @block_soft + @block_hard

			While @extra_date < @block_to begin
				if (select COUNT(AI_Prikey) from AI_FILE where AI_FREF = @NewMBR and AI_CODE = @Extra_code and AI_GEDATE = @Extra_Date) > 0 begin
					set @AI_PRIKEY = (select Top 1 AI_Prikey from AI_FILE where AI_FREF = @NewMBR and AI_CODE = @Extra_code and AI_GEDATE = @Extra_Date)
					Update AI_FILE set AI_COVERS = AI_COVERS + @extra_Covers where AI_PRIKEY = @AI_PRIKEY
				end
				else begin
					EXECUTE @RC = [dbo].[cabs_add_global_extra] @Newmbr, '', @extra_date,'00:01',  @extra_Covers
						,'', @OperatorId, @extra_code, '23:59', @block_charge, ' ', '',''
						,'N'
					set @AI_PRIKEY = REPLACE(STR(@RC, 10), ' ', '0')

					INSERT INTO @OutputLog VALUES (@AI_PRIKEY)
				end
				set @Extra_DAte = DATEADD(dd,1,@extra_date)
			end
		end
		else begin
			-- generate a new Blocking
			set @block_soft = @block_soft + @block_hard
			set @block_hard = 0
			if (select COUNT(BL_Sysno) from Blocking where BL_DATE = @block_from and BL_TO = @block_to and BL_MBR = @NewMBR) > 0 begin
				set @block_id = (select Top 1 BL_Sysno from Blocking where BL_DATE = @block_from and BL_TO = @block_to and BL_MBR = @NewMBR)
				Update BLOCKING set BL_SOFT = BL_SOFT + @block_soft where BL_SYSNO = @block_id
			end
			else begin
				EXECUTE @RC = [dbo].[cabs_create_blocking] @block_from, @block_to, @block_rtype, @NewMBR,
					@block_soft, @block_hard, @block_charge, @block_id OUTPUT, @result OUTPUT

				INSERT INTO @OutputLog VALUES (@block_id)
			end

		end
		if @block_from < @MBRStart begin
			Update MBRFILE
			set MBR_FROM = @block_from
			where MBR_SYSNO = @NewMBR

			Set @MBRStart = @block_from
		end
		if @block_to > @MBREnd begin
			Update MBRFILE
			set MBR_TO = @block_to
			where MBR_SYSNO = @NewMBR

			Set @MBREnd = @block_to
		end

		SET @AccommodationCopied += 1

		Fetch NExt from BlockCur into @FRef, @OldBlockFrom, @OldBlockTo,@block_rtype, @Block_soft, @block_hard, @block_charge
	end
	close BlockCur
	Deallocate BlockCur

	DECLARE @Ref VARCHAR(10)
	DECLARE @LogCur CURSOR

	SET @LogCur = CURSOR FAST_FORWARD FOR
		SELECT REF
		FROM @OutputLog

	OPEN @LogCur

	WHILE 1 = 1
	BEGIN
		FETCH NEXT FROM @LogCur INTO @Ref
		IF @@FETCH_STATUS <> 0 BREAK

		IF @CopyRBtoExtra = 1
		BEGIN
			INSERT INTO #MBR_COPIER_OUTPUT
			SELECT MBR_SYSNO,
				MBR_CLIENT,
				MBR_CONTCT,
				@ClassCodes,
				MBR_EVENT,
				'',
				CONVERT(VARCHAR(10), AI_GEDATE, 103),
				'',
				AI_TIME,
				AI_ENDTIME,
				AI_COVERS,
				AI_PRIKEY,
				ISNULL(P_DESC, 'Undefined')
			FROM @OutputLog
			LEFT JOIN AI_FILE
			ON AI_PRIKEY = REF
			LEFT JOIN MBRFILE
			ON MBR_SYSNO = @NewMBR
			LEFT JOIN POST_DEF
			ON P_CODE = AI_CODE
			WHERE AI_PRIKEY = @Ref
		END
		ELSE BEGIN
			INSERT INTO #MBR_COPIER_OUTPUT
			SELECT BL_MBR,
				MBR_CLIENT,
				MBR_CONTCT,
				@ClassCodes,
				MBR_EVENT,
				BL_SYSNO,
				CONVERT(VARCHAR(10), BL_DATE, 103),
				P_DESC,
				CONVERT(VARCHAR(10), BL_DATE, 103),
				CONVERT(VARCHAR(10), BL_TO, 103),
				BL_SOFT,
				'',
				''
			FROM @OutputLog
			LEFT JOIN BLOCKING
			ON BL_SYSNO = REF
			LEFT JOIN MBRFILE
			ON MBR_SYSNO = BL_MBR
			LEFT JOIN POST_DEF
			ON P_CODE = BL_RTYPE
			WHERE BL_SYSNO = @Ref
		END
	END
END


GO